.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    font-weight: 200;
    height: 20%;
    border-radius: 5px;
    margin-left: 30%;
}

.photoholder {
    border-radius: 50%;
    border: 1px solid black;
    height: 75px;
    width: 75px;
    background-color: #bbb;
    margin-left: -55%;
    background-size: contain;
    padding-right: 40px;
}

.hovering {
    border: 2px solid #f16624;
    color: #dadada !important;
}

.dropzone .file-label {
    font-size: 1.2em;
}

progress::-webkit-progress-value {
    transition: width 0.1s ease;
}

.body {
    display: flex;
    overflow-x: hidden;
    margin-top: 2px;
}

.naviBar {
    width: 22.5%;
    height: 100%;
    align-self: flex-start;
    background-color: #888, #555;
}

.subnavibar {
    position: fixed;
    align-self: flex-start;
    margin-left: -20px;
    margin-top: -10px;
}

.bodyrest {
    width: 78%;
    height: 100%;
    margin-left: 20%;
    display: flex;
}