.body{
    background-color: rgb(243, 237, 237);
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-x: hidden;
}
.naviBar{
    width: 22.5vw;
    height: 100vh;
    align-self: flex-start;
    background-color: #888, #555;
}
.margin{
    width: 80%;
    height: 100%;
    margin-left: -2%;
    display: flex;
    background-image: url("../../assets/images/patienth.jpg");
    background-position:center;
  	background-repeat:no-repeat;
    background-size:cover;  
    overflow-x: hidden;
}
.change{
  animation: chbg 15s infinite alternate;
  display: flex; 
  align-self: flex-end;
  height: 25%;
  width: 98.6%;
  background-color: black;
  margin-left: -95%;
  padding-bottom: 10%;
}
@keyframes chbg {
  0% {
    background-image:url("../../assets/images/covid19.png" );
  background-size:cover
  }
  20% {
    background-image:url("../../assets/images/covid.jpg" );
  background-size:cover
  }
  40% {
    background-image:url("../../assets/images/backgroundimage_howitworks.jpg" );
  background-size:cover
  }
  100% {
    background:url("../../assets/images/contactuspic.jpg" );
  background-size:cover
  }
}



.btn {
    align-items: flex-end;
    opacity: 1.5;
    display: flex;
    background-color: rgb(238, 14, 14);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 720%;
    margin-top: 5%;
  }
  .addr{
    align-items: flex-end;
    opacity: 1.5;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    width: 15vw;
    color: black;
  }
  .card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    background: white;
    box-shadow: 15px 15px 25px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    height: 45vh;
    margin-top: 15%;
    margin-left: -23%;
    margin-right: 35%;
  }
  .card2 {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    background: white;
    box-shadow: 15px 15px 25px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    height: 45vh;
    margin-top: 15%;
  }
  .card-image {
    grid-area: image;
  }
  .card-text {
    grid-area: text;
  }
  .card-stats {
    grid-area: stats; 
  }
  .card-image {
    grid-area: image;
    background: url("../../assets/images/doc.jpg");
   
    background-size: cover;
  }
  .card-image2 {
    grid-area: image;
    background: url("../../assets/images/doc2.jpg");
    grid-area: image;
    background-size: cover;
  }
  .card-text {
    grid-area: text;
    margin: 25px;
  }
  .card-text .date {
    color: rgb(255, 7, 110);
    font-size:13px;
  }
  .card-text p {
    color: grey;
    font-size:15px;
    font-weight: 300;
  }
  .card-text h2 {
    margin-top:0px;
    font-size:28px;
  }
  