.body{
    background-color: rgb(243, 237, 237);
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-x: hidden;
}
.naviBar{
    width: 22.5vw;
    height: 100vh;
    align-self: flex-start;
    background-color: #888, #555;
}
.margin{
    width: 78%;
    height: 100%;
    margin-left: 0%;
    display: flex;
    background-image: url("../../assets/images/123.png");
    background-position:center;
  	background-repeat:no-repeat;
    background-size:cover;  
    overflow-x: hidden;
}

.btn {
    align-items: flex-end;
    opacity: 1.5;
    display: flex;
    background-color: rgb(238, 14, 14);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 600%;
    margin-top: 5%;
  }
  .addr{
    align-items: flex-end;
    opacity: 1.5;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    width: 15vw;
    color: black;
  }
