<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<body class="body"> 
    <div>
        <app-patient-home></app-patient-home>
    </div>
    <div class="margin">
        <img src="assets\images\patienthome.jpg" alt="wallpaper" class="wallpaper">
        <button class="btn">SignOut</button>
        <div  class="addr">
            <i class="fa fa-street-view" id="icon"></i>
            <label for="cars">Current Location:</label>
                <select>
                     <option value="volvo">Maharagama</option>
                    <option value="saab">Nugegoda</option>
                    <option value="mercedes">Narahenpita</option>
                    <option value="audi">Thummulla</option>
                </select>
        </div>
    </div>  

</body>
</html>
