<div class="container">
    <div class="navigation_bar">  
      <ul>
        <li><a href="">Mdcare</a></li>
        
        <div class="dropdown">
          <button class="dropbtn">Members
            <i class ="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="" routerLink="/howitworks" routerLinkActive ="active">how this works</a>
           
            <a href="">432</a>
            <a href="" routerLink="/whatwetreat" routerLinkActive="active">what we treat</a>
            <a href="">link 3</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">buisness
            <i class ="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="">link</a>
            <a href="">link 2</a>
            <a href="">link 3</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">providers
            <i class ="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="" routerLink="/ourproviders" routerLinkActive="active">Our providers</a>
            <a href="">link 2</a>
            <a href="">link 3</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">resources
            <i class ="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="">link</a>
            <a href="">link 2</a>
            <a href="">link 3</a>
          </div>
        </div>
        <li><a href="" routerLink="/contactus" routerLinkActive="active">contact us</a></li>
        <li><a href="" routerLink="/admin" routerLinkActive="active">Admin</a></li>
        
        <!-- <a href="" routerLink="admin">Admin</a> -->
        <li><a href="" routerLink="/docHome" routerLinkActive="active">DocHome</a></li>
        <li><a href="" routerLink="/adminHome" routerLinkActive="active">AdminNewHome</a></li>
  
  
        <div class="navigation_bar-right">
          <li><a routerLink="/login" routerLinkActive="active">login</a></li>
          <li><a routerLink="/joinnow" routerLinkActive="active">join</a></li>
        </div>
      </ul>
    </div>
</div>
