<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>eCare</span>
    </mat-toolbar-row> 
</mat-toolbar>

<div id="img"> 
 
    <section class="details">
        <h1 class="title">Doctor Details</h1>
    
<div class="container">
    
    <div class="doc-form row">
        <form #docForm="ngForm" (ngSubmit)="CreateRecord(docForm)">
        <div class="form-field col-lg-6" [class.has-error]="fullNameControl.invalid && fullNameControl.touched">
            <input type="text" id="name" class="form-control input-text" [(ngModel)]="fullName" #fullNameControl="ngModel" required  [ngModelOptions]="{standalone: true}">
            <label for="name" class="label control-label">Full Name</label>
          <small class="help-block" *ngIf="fullNameControl.invalid && fullNameControl.touched">
              *Full name is required
          </small>
        </div>

        <div class="form-field col-lg-6" [class.has-error]="emailControl.invalid && emailControl.touched">
            <input type="email" id="email" class="form-control input-text" [(ngModel)]="email"  #emailControl="ngModel" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9.-]+$" [ngModelOptions]="{standalone: true}">
            <label for="email" class="label">Email</label>
            <!-- <small class="help-block" *ngIf="emailControl.invalid  && emailControl.touched">
                *Email is required
            </small> -->
            <small class="help-block" *ngIf="emailControl.errors?.required && emailControl.touched">
                *Email is required
            </small>
            <small class="help-block" *ngIf="emailControl.errors?.pattern && emailControl.touched">
                *Email is invalid
            </small>

        </div>
        <div class="form-field col-lg-6" [class.has-error]="nicControl.invalid && nicControl.touched">
            <input type="text" id="nic" class="form-control input-text" [(ngModel)]="nic" #nicControl="ngModel" pattern="[0-9]+v" minlength="3" maxlength="10" required [ngModelOptions]="{standalone: true}">
            <label for="nic" class="label">NIC</label>
            <small class="help-block" *ngIf="nicControl.errors?.required && nicControl.touched">
                *nic is required
            </small>
            <small class="help-block" *ngIf="nicControl.errors?.pattern && nicControl.touched">
                *nic is invalid
            </small>
        </div>
        <div class="form-field col-lg-6" [class.has-error]="ageControl.invalid && ageControl.touched">
            <input type="number" id="age" class="form-control input-text" [(ngModel)]="age" #ageControl="ngModel"  maxlength="2" required [ngModelOptions]="{standalone: true}" >
            <label for="age" class="label">Age</label>
            <small class="help-block" *ngIf="ageControl.invalid && ageControl.touched">
                *age is required
            </small>
        </div>
        <div class="form-field col-lg-6">
            <input type="text" id="city" class="form-control input-text" [(ngModel)]="city" #cityControl="ngModel" required [ngModelOptions]="{standalone: true}">
            <label for="city" class="label">City</label>
        </div>
      
        <div class="form-field col-lg-6 input-text" >
        <div class="form-group">
            <label for="select" class="form-control label-select" >Gender
            <select id="select1" [(ngModel)]="gender"  #genderControl="ngModel" required [ngModelOptions]="{standalone: true}">    
                <option *ngFor = "let g of genderList"
                 [value] = "g"> {{g}} 
                </option>
              </select>
            </label>
          </div>
          </div>
         
    <div class="form-field col-lg-6">      
    <div class="form-group">
        <label for="select" class="form-control label-select" >Specialised in..
        <select  id="select2" [(ngModel)]="speciality"  #specialityControl="ngModel" required [ngModelOptions]="{standalone: true}"> 
            <option value="" selected="selected" hidden="hidden">Select an Option </option> 
            <option value="Practiced Physician">Practiced Physician</option> 
            <option value="Pediatricians">Pediatricians </option> 
            <option value="Geriatricians">Geriatricians</option> 
            <option value="Cardiologists">Cardiologists</option> 
            <option value="Allergists">Allergists</option> 
            <option value="Dermatologists">Dermatologists</option> 
            <option value="Ophthalmologists">Ophthalmologists</option> 
            <option value="Gastroenterologists">Gastroenterologists</option> 
            <option value="Nephrologists">Nephrologists</option> 
            <option value="Otolaryngologists">Otolaryngologists</option> 
            <option value="Other">Other..</option> 
        </select> 
        </label>
    </div>
    </div>
        <div class="form-field col-lg-12"> 
        <div class="form-group">
            <button class="submit-btn" type="submit"  [disabled]="!fullName || !nic || !email || !speciality" >Create Doctor</button>
        </div>
        </div>
    </form>    
</div>
 
</div>
<!-- <div class="form-group">
    <h4><b class="alert alert-success" role="alert">{{message}}</b></h4>
</div> -->
</section>
</div>

    <div class="row p-2">
        <div class="col-md-12 p-2 justify-content-center">
          <h4>All Doctor Data</h4>
        </div>

        <div class="col-md-3"  *ngFor="let item of doctor">


            <div class="card" *ngIf="!item.isedit; else elseBlock">
                <div class="card-body">
                <div class="card-title">
                    Name: {{item.fullName}}
                </div>

                <div class="card-text">
                    Email: {{item.email}}
                </div>

                <div class="card-text">
                    NIC: {{item.nic}}
                 </div>

                 <div class="card-text">
                    Age: {{item.age}}
                </div>

                <div class="card-text">
                    City: {{item.city}}
                </div>

                <div class="card-text">
                    Gender: {{item.gender}}
                </div>

                <div class="card-text">
                    Speciality: {{item.speciality}}
                </div>

                 <span>
                    <a  (click)="EditRecord(item)" class="btn btn-primary btn-xs" style="color: white;">Edit Doctor</a>
                    <a  (click)= "DeleteDoctor(item.id)" class="btn btn-danger btn-xs" style="color: white;">Delete Doctor</a>
                </span>
                </div>
            </div>
                 
<ng-template #elseBlock>
<div class="card">
    <div class="card-body">
        <div class="card-title">
            Edit
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    <input type="text" [(ngModel)]="item.editname" class="form-control" placeholder="Full Name">
                </div>
                <div class="col-md-12">
                    <input type="text" [(ngModel)]="item.editnic" class="form-control" placeholder="NIC">
                </div>
                <div class="col-md-12">
                    <input type="number" [(ngModel)]="item.editage" class="form-control" placeholder="Age">
                </div>
                <div class="col-md-12">
                    <input type="text" [(ngModel)]="item.editcity" class="form-control" placeholder="City">
                </div>
              
                
            </div>
        </div>
        <a  class="btn btn-danger btn-xs" (click)="item.isedit = false">Cancel</a>
        <a  class="btn btn-primary btn-xs" (click)="UpdateRecord(item)">Update</a>
   

    </div>
</div>
</ng-template>

    </div>

</div>





<!-- <p>manage-doctor works!</p> -->
<!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->
<!-- <div class="container">
    <mat-toolbar>
        <span class="fill-remaining-space"></span>
        <span>Add Doctors</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
</div>

<form [formGroup]="DoctorService.form" class="normal-form">
    <mat-grid-list col="2" rowHeight="300px">
       
            <div class="controles-container"> -->
                <!-- <input type="hidden" formControlName="$key"> -->
                <!-- <mat-form-field appearance="none">
                    <mat-label>Full Name</mat-label>
                    <input  formControlName="fullName" matInput placeholder="Full Name">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input  formControlName="email" matInput placeholder="Email">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Mobile</mat-label>
                    <input  formControlName="mobile" matInput placeholder="Mobile">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>City</mat-label>
                    <input  formControlName="city" matInput placeholder="City">
                </mat-form-field>
            </div>
    
    </mat-grid-list>
</form> -->
<!-- <form [formGroup]="DoctorService.form" class="normal-form">
    <mat-grid-list col="2" rowHeight="300px">
        <mat-grid-title>
            <div class="controles-container">
                <input type="hidden" formControlName="$key">
                <mat-form-field>
                    <input  formControlName="fullName" matInput placeholder="Full Name">
                </mat-form-field>
            </div>
        </mat-grid-title>
    </mat-grid-list>
</form> -->