<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<STYLE>
    A {
        text-decoration: none;
    }
</STYLE>

<body class="body">
    <div class="naviBar">

        <div class="logoBox">
            <a routerLink='/patientHome'>
                <h1 id="title"> <b>
            <span style='color: gray'>E</span>
            <span style='color: gray'>-</span>
            <span style='color: orangered'>C</span>
            <span style='color: orangered'>a</span>
            <span style='color: orangered'>r</span>
            <span style='color: orangered'>e</span> 
            </b>
                </h1>
            </a>
        </div>
        <div>
            <a routerLink='/appoinments'>
                <button class="naviButton" style="margin-bottom: 7vh;"> 
                <div class="icn"> 
                    <i class="fa fa-calendar" id="icon" style="font-size: 25px; color: aliceblue;"></i>
                </div>Appointments
            </button>
            </a>
        </div>
        <div>
            <a href="" routerLink="/messages" routerLinkActive >
            <button class="naviButton" style="margin-bottom: 7vh;">
                <div class="icn"> 
                    <i class="fa fa-inbox" id="icon" style="font-size: 27px; color: aliceblue;"></i>
                </div>
                Messages
            </button>
            </a>
        </div>
        <div>
            <a routerLink='/healthprofile'>
                <button class="naviButton" style="margin-bottom: 7vh;">
                <div class="icn"> 
                    <i class="fa fa-file" id="icon" style="font-size: 25px; color:aliceblue"></i>
                </div>
                Health Profile
            </button>
            </a>
        </div>
        <div>
            <a href="" routerLink="/patientupload" roterLinkActive>
                <button class="naviButton" style="margin-bottom: 7vh;">
                <div class="icn"> 
                    <i class="fa fa-image" id="icon" style="font-size: 25px; color:aliceblue"></i>
                </div>
                Photos and Files
            </button>
            </a>
        </div>
        <div>
            <a href="" routerLink="/help" roterLinkActive>
            <button class="naviButton" style="margin-bottom: 7vh;">
                <div class="icn"> 
                    <i class="fa fa-question" id="icon" style="font-size: 27px; color:aliceblue"></i>
                </div>Help
            </button>
        </a>
        </div>
        <div>
            <a href="" routerLink="/myaccount" roterLinkActive>
                <button class="naviButton" style="margin-bottom: 7vh;">
                <div class="icn"> 
                    <i class="fa fa-cog" id="icon" style="font-size: 25px; color:aliceblue"></i>
                </div>
                My Account
            </button>
            </a>
        </div>
        <footer style="margin-top: 15vh;margin-left: 2vw;font-size: 12px; color: aliceblue; "><b>&copy; Copyright 2020 e-care|PRIVACY POLICY</b></footer>
    </div>
    <div class="margin">

    </div>


</body>

</html>