.body{
    background-color: rgb(0,191,255);
    width: 20vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    align-self: flex-start;
}
.naviBar{
    width: 20vw;
    height: 100vh;
    background-color: #84CEEB;
    align-items: flex-start;
}
#title{
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;  
}
.margin{
    height:100vh;
    width: 0.01vw;
    background-color: rgb(0,191,255);
}
.naviButton{
    width: 18vw;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 20%;
    align-self: center;
    background-color:  #84CEEB;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 15px;
	margin: 30px auto;
	color: black;
	background-color:#84CEEB;
	background: -webkit-linear-gradient #84CEEB ;
	background: linear-gradient #84CEEB;
	border: 0 none;
	text-shadow: 0 -1px 0 #000;	
    cursor: pointer;
    position: relative;
}
.naviButton:hover{
    width: 18vw;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 20%;
    align-self: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 15px;
	margin: 30px auto;
	color: rgb(12, 12, 12);
	background-color:#5AB9EA;
	background: -webkit-linear-gradient#5AB9EA;
	background: linear-gradient#5AB9EA;
	border: 0 none;
	text-shadow: 0 -1px 0 #000;	
	cursor: pointer;
}
.logoBox{
    height: 5%;
    width: 100%;
    padding-bottom: 40px;
    padding-top: 20px;
    z-index: 3;
    color: #000;
    opacity: 2;
}
.icn{
    position: absolute;
    width: 2vw;
    height: 100%;
    align-self: center;
}
#icon{
    width: 2vw;
    height: 80%;
    align-items: flex-start;
    /* background-color: chartreuse; */
}