<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<body class="body"> 
    <div class="naviBar">
        <div class="logoBox"><h1 id="title"> <b>
            <span style='color: gray'>E</span>
            <span style='color: gray'>-</span>
            <span style='color: orangered'>C</span>
            <span style='color: orangered'>a</span>
            <span style='color: orangered'>r</span>
            <span style='color: orangered'>e</span> 
            </b>
         </h1>
        </div>
        <div>
            <button class="naviButton">
                <div class="icn"> 
                    <i class="fa fa-calendar" id="icon"></i>
                </div>Appoinments
            </button>
        </div>
        <div>
            <button class="naviButton">
                <div class="icn"> 
                    <i class="fa fa-inbox" id="icon"></i>
                </div>
                Messages
            </button>
        </div>
        <div> 
            <button class="naviButton">
                <div class="icn"> 
                    <i class="fa fa-file" id="icon"></i>
                </div>
                Health Profile
            </button>
        </div>
        <div>
            <button  class="naviButton">
                <div class="icn"> 
                    <i class="fa fa-image" id="icon"></i>
                </div>Photos and Files
            </button>
        </div>
        <div>
            <button  class="naviButton">
                <div class="icn"> 
                    <i class="fa fa-question" id="icon"></i>
                </div>Help
            </button>
        </div>
        <div>
            <button  class="naviButton">
                <div class="icn"> 
                    <i class="fa fa-cog" id="icon"></i>
                </div>
                My Account
            </button>
        </div>
    </div>
    <div class="margin">

    </div>
   
</body>
</html>
