
.form-control{
    height: 120px;
    width: 1000px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 30px;
   
}

section {
    display: table;
    margin: 10px;
    margin-bottom: 50px;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 20px;
  }
.dive{
    margin-bottom: 40px;
    margin-top: 30px;
    margin-left: 20px;
}
.radio-btn{
    margin-right: 40px;
}

.mat-form-field{
  font-size: medium;
  border-radius: 10px;
  margin-right: 50px;
  
}

.mat-form-field{
  margin-left: 20px;
  font-size: medium;
}
  
.button {
  padding: 13px 20px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4c74af;
  border: none;
  border-radius: 13px;
  box-shadow: 0 9px #999;
  margin-left: 20px;
  margin-bottom: 35px;
}

.button:hover {background-color: #5387c2}

.button:active {
  background-color: #5387c2;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
  