<div *ngIf='yes.allergies==="yes"'>
    <ul>
        <table id="customers">
            <tr>
                <th>Allergie </th>
                <th>Description </th>
                <th>Source </th>
            </tr>
            <tr *ngFor="let alleg of allegs" class="collection" (dblclick)="deleteItem($event,alleg)">
                <td>{{alleg.name}}</td>
                <td>{{alleg.reaction}}</td>
                <td>{{alleg.source}}</td>
            </tr>
        </table>
    </ul>
</div>
<mat-spinner *ngIf="loader"></mat-spinner>
<div *ngIf='yes.allergies==="No"'>
    <hr>
    <h5 class="null">There are no records</h5>
</div>
<div *ngIf='yes.allergies===""'>
    <hr>
    <h5 class="null">There are no records</h5>
</div>