.reg_container{
    height: 600px;
    background-size: 100% 100%;
}

.navigation_bar ul{
    
    position: -webkit-sticky;
    list-style-type:none;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color:transparent;
    height: 50px;
}


/*links a list left to right*/

.navigation_bar li{
    float: left;
    margin-left: 350px;
   

}

/* set the links to inline  */
.navigation_bar li a{
    display:block;
    color:white;
    text-align: center;
    padding :14px 16px;  
    text-decoration: none;
    height: 50px;
    font-size: 20px;
    
    

}

.navigation_bar li a:hover , .dropdown:hover .dropbtn{
    background-color:gray;
}

.navigation_bar a.active{
    background-color: turquoise;

}

/* links are set right to left */
.navigation_bar-right{
    float: right;
    margin-right: 100px;
   
}




/* form  container  */
    

 .formcontainer{   
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px 10px #888888;
    
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.7); 
    color: white;
    width: 550px;
    height: 480px;
    margin-left: 40%;
    
}
input[type=text], input[type=password],input[type=number],input[type=date],input[type=email] ,input[type=tel]{
   display:inline-block;
    padding: 6px;
    margin: 0px 0 4px 0;
    border: none;
    background: #ecebeb;
    width: 250px;
    float: right;
    margin-right: 8%;
    border-radius: 5px;
  }

  select{
      display: inline-block;
      padding: 6px;
      margin: 0px 0 4px 0;
      border:none;
      background: #ecebeb;
      width: 100px; 
      float: right;
      margin-right: 38%;
      border-radius: 5px;
      color: black;

  }
  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  input[type=submit]{
      margin-left: 45%;
      padding: 10px 20px;
      border-radius: 10px;
      background-color: blue;
      color: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  input[type=submit]:disabled{
    background-color: rgb(187, 187, 228);
  }

  input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, input[type=number]:focus,input[type=email]:focus {
    background-color: rgb(255, 255, 255);
    outline: lightgreen;
    
    
  }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



  label{
    display:inline-block;
    font-weight: normal;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 12px 16px;
    clear: left;
    text-align: right;
    margin-left: 10%;
     
 }

 .formcontainer h2{
     text-align: center;
 }

/* form ends here */




.grid_container{
    display:block;
    height: 300px;
    
}

.grid_container .grid{
    width: 25%;
    float: left;
    background-color: white;
    text-align: center;
    padding: 20px 0;
    

}
.grid_id_1 {
    margin-top: 100px;

}

.grid_id_1 .topic{
    text-align: center;
    color: blue;
}

.urgent_care_image {
    position: relative;
}
.urgent_care_image  .text_block{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 500px;
  ;
    background-color:rgb(233, 239, 241)  /* Fallback color */
   /* Black background with 0.5 opacity */
    
}
.urgent_care_image p,h1,h2{
    margin-left: 20px;
}

  
  /* Create three equal columns that floats next to each other */
  .services .column {
    
  float: left;
  width: 25%;
  padding: 10px;
  height: 500px;
  column-gap: 10px; 
  background-color:rgb(235, 235, 250);
  /* Should be removed. Only for demonstration */
 
  box-sizing: border-box;
  
  border: 10px solid white    ;    
   
  
}

/* Clear floats after the columns */
.services  .row:after {
  content: "";
  display: table;
  clear: both;
  background-color: white;
}


  .services .column h2{
    text-align: center;
    color: blue;
}

.services .column p{
    text-align: center;
}
  /* footer */

  .registerfooter{
      height: 180px;
      background-color: rgb(56, 194, 240);
  }

  .registerfooter h2,p{
      text-align: center;
  }

  .button3{
    padding: 15px 25px;
    background-color: blue;
    border-radius: 8px;
    margin-left: 30%;
    
}