

<div class="reg_container" style="background-image: url(assets/images/signupimage.jpg);">
   
  <div class="navigation_bar">  
    <ul>

      <li><a href="">eCare</a></li>

      <div class="navigation_bar-right">
        <li><a routerLink="/login" routerLinkActive="active">login</a></li>
        
      </div>
    </ul>
  </div>
  
      
      <div class="formcontainer">
          <h2>Join with us</h2>
          <div class="col-12">
            <div class="row" *ngIf="authError">
              <div class="col-12 alert alert-danger">
                {{ authError?.message }}
              </div>
            </div> 
            <form action="" #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)" >
              <div class="">
                <div >
                  <div >
                    <div class="row">
                      <label for="firstname" >Firstname:</label>
                      <input ngModel #firstname="ngModel" name="firstName" type="text" class="form-control" id="firstName" required >
                    </div>
                      <div class="row">
                        <label for="secondname">Secondname:</label>
                      <input ngModel #secondname="ngModel" name="secondName" type="text" class="form-control" id="secondName" value=""  required>
                      
                      </div>
                  </div>
                  
                  <div class="">
                      <label for="email" >Email:</label>
                      <input  ngModel #email="ngModel" type="email" class="form-control" placeholder="email" name="email" 
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                      required>
                  </div>
                  <div class="">
                      <label for="password">Password: </label>
                      <input ngModel #password="ngModel" name="password" type="password" class="form-control"  minlength="6" required>
                  </div>
                  <div class="">
                      <label for="dateofbirth">Date of birth : </label>
                      <input ngModel #dob="ngModel" type="date" placeholder="mm/dd/yyyy" name="dob" class="form-control" id="dob" value="" max="2020-01-01" required >
                  </div>
                  <div class="">
                      <label for="phoneno">Phone number : </label>
                      <input ngModel #phone="ngModel" type="tel" name="phone" placeholder="phoneno" id="phone"  class="form-control" value="" required pattern="[0][0-9]{9}" >
                     
                  </div>
                  
                  <div class="">
                      <label for="gender">Gender :  </label>
                      <select ngModel name="gender"  id="gender" #gender="ngModel" required>
                          <option value="male">male</option>
                          <option value="female">female</option>

                      </select>
                  </div>
                  <input type="submit" name="submit" value="submit" id="" [disabled]="userRegForm.form.invalid"  >
                  

                </div>
            </form>
  </div>

    

</div>

<div class="grid_id_1">
  <h1 class="topic" >What you get with Medicare</h1>
  <div class="grid_container">
        
    <div class="grid">
      <img src="assets/images/1.jpg" alt="" height="100" width="150">
      <br>
      <p>Visit a doctor, counselor, psychiatrist or dermatologist by mobile app, video or phone.</p>
     </div>
    <div class="grid">
      <img src="assets/images/2.jpg" alt="" height="100" width="150">
      <p>Visits are convenient, private and secure. Protection of your personal information is our priority. </p>
    </div>
    <div class="grid">
      <img src="assets/images/3.jpg" alt=""height="100" width="150">
      <br>
      <p>Avoid the inconvenience and high costs of going to the emergency room or urgent care center.</p>
    </div>
    <div class="grid">
      <img src="assets/images/4.jpg" alt=""height="100" width="150">
      <br>
      <p>  Prescriptions can be sent directly to your local pharmacy if medically necessary.</p>
    </div>
  </div>
  </div>

  
  <div class="services">
    <div class="row">
      <div class="column">
        <h2>Urgent care visits </h2>
        <p>Common cold</p>
        <p>Allergies</p>
        <p>Constipation</p>
        <p>Cough</p>
        <p>Diarrhea</p>
        <p>Ear Problems</p>
        <p>Fever</p>
        <p>Headache</p>
        <p>Nausea</p>
        <p>And more...</p>
        

        <button class="button3">get started</button>
      </div>
      <div class="column">
        <h2>Counseling</h2>
        <p> Addictions </p>
        <p>Bipolar disorders</p>
        <p>Depression</p>
        <p>Eating disorders</p>
        <p>LGBTQ support</p>
        <p>Grief and loss</p>
        <p>Men’s issues</p>
        <p>Panic disorders</p>
        <p>Stress</p>
        <p>And more...</p>

        

        <button  class="button3">get started</button>
      </div>
      <div class="column" >
        <h2>Psychiatry</h2>
        <p>Addictions</p>
        <p>Bipolar disorders</p> 
        <p>Depression</p> 
        <p>Eating disorders</p> 
        <p>LGBTQ support</p> 
        <p>Grief and loss</p> 
        <p>Men’s issues</p> 
        <p>Panic disorders</p>
        <p>Stress</p>
        <p>And more...</p>

        <button class="button3">get started</button>
      
    
      </div>
      <div class="column" >
        <h2>Dermatology</h2>
        <p>Acne</p>
        <p>Rashes</p>
        <p>Suspicious spots</p>
        <p>Moles</p>
        <p>Warts</p>
        <p>Psoriasis</p>
        <p>Eczema</p>
        <p>Insect bites</p>
        <p>Alopecia</p>
        <p>And more...</p>




        <button class="button3">get started</button>
      
    
      </div>
    </div>
</div>
  <div class="registerfooter">
    <h2>MDLIVE</h2>
    <P> <small>download_app_android
      MDLIVE
      Facebook Twitter LinkedIn YouTube Google+ Instagram
      Copyright © 2020 MDLIVE Inc. All Rights Reserved. Copyright © 2020 MDLIVE Medical Group, PA. All Rights Reserved.
      MDLIVE Medical Group, PA provides the clinical services for MDLIVE. MDLIVE Medical Group, PA is an independent entity. For more information, please click here.
      ® MDLIVE is a registered trademark of MDLIVE Inc., All Rights Reserved. </small> </P>

  </div>