:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #F1FEFF ;
    
  }
  mat-drawer {
    width: 350px;
    background: #F1FEFF ;
  }
  
  mat-drawer-container {
    height: 100%;
    background: #F7FBFB ;
  }
  
  mat-drawer-content {
    padding: 20px;
    background: #F7FBFB ;
  }