:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #C1C8E4 ;
    
  }
  mat-drawer {
    width: 350px;
    background: #84CEEB ;
  }
  
  mat-drawer-container {
    height: 100%;
    background: #C1C8E4 ;
  }
  
  mat-drawer-content {
    padding: 20px;
    background: #C1C8E4 ;
  }