<div class="box">
    <h1 *ngIf="parentData==1" style="color:aliceblue;font-size: large;">HEALTH PROFILE</h1>
    <h1 *ngIf="parentData==2" style="color:aliceblue;font-size: large;">HEALTH RECORDS</h1>
    <h1 *ngIf="parentData==3" style="color:aliceblue;font-size: large;">MY PROVIDERS</h1>
    <h1 *ngIf="parentData==4" style="color:aliceblue;font-size: large;">CONSULTATION HISTORY</h1>
    <h1 *ngIf="parentData==5" style="color:aliceblue;font-size: large;">MANAGE ACCOUNT</h1>
    <h1 *ngIf="parentData==6" style="color:aliceblue;font-size: large;">APPOINTMENTS</h1>
    <h1 *ngIf="parentData==7" style="color:aliceblue;font-size: large;">PHOTOS AND FILES</h1>
    <h1 *ngIf="parentData==8" style="color:aliceblue;font-size: large;">MESSAGES</h1>
    <h1 *ngIf="parentData==9" style="color:aliceblue;font-size: large;">HELP</h1>


    <div class="btn-holder">
        <div class="btn-group">
            <a routerLink='/healthprofile'>
                <button *ngIf="parentData==1" style="background-color: #aaabb8;" disabled><b>MY HEALTH</b></button>
                <button *ngIf="parentData==2"><b>MY HEALTH</b></button>
                <button *ngIf="parentData==3"><b>MY HEALTH</b></button>
                <button *ngIf="parentData==4"><b>MY HEALTH</b></button>
            </a>
            <a routerLink='/myproviders'>
                <button *ngIf="parentData==3" style="background-color: #aaabb8;" disabled><b>MY PROVIDERS</b></button>
                <button *ngIf="parentData==2"><b>MY PROVIDERS</b></button>
                <button *ngIf="parentData==1"><b>MY PROVIDERS</b></button>
                <button *ngIf="parentData==4"><b>MY PROVIDERS</b></button>
            </a>
            <a routerLink='/consultationhistory'>
                <button *ngIf="parentData==1"><b>CONSULTATION HISTORY</b></button>
                <button *ngIf="parentData==2"><b>CONSULTATION HISTORY</b></button>
                <button *ngIf="parentData==3"><b>CONSULTATION HISTORY</b></button>
                <button *ngIf="parentData==4" style="background-color: #aaabb8;" disabled><b>CONSULTATION HISTORY</b></button>
            </a>
            <a routerLink='/healthrecords'>
                <button *ngIf="parentData==1"><b>HEALTH RECORDS</b></button>
                <button *ngIf="parentData==3"><b>HEALTH RECORDS</b></button>
                <button *ngIf="parentData==2" style="background-color: #aaabb8;"><b>HEALTH RECORDS</b></button>
                <button *ngIf="parentData==4"><b>HEALTH RECORDS</b></button>
            </a>

            <button *ngIf="parentData==6"><b>HEALTH RECORDS</b></button>
            <button *ngIf="parentData==6"><b>HEALTH RECORDS</b></button>
        </div>
    </div>
</div>