<div class="card box">
    <h1 *ngIf="parentData==1" style="color:aliceblue;font-size: large; padding: 20px">HEALTH PROFILE</h1>
    <h1 *ngIf="parentData==2" style="color:aliceblue;font-size: large; padding: 20px">HEALTH RECORDS</h1>
    <h1 *ngIf="parentData==4" style="color:aliceblue;font-size: large; padding: 20px">CONSULTATION HISTORY</h1>
    <h1 *ngIf="parentData==5" style="color:aliceblue;font-size: large; padding: 20px">MANAGE ACCOUNT</h1>
    <h1 *ngIf="parentData==6" style="color:aliceblue;font-size: large; padding: 20px">APPOINTMENTS</h1>
    <h1 *ngIf="parentData==7" style="color:aliceblue;font-size: large; padding: 20px">PHOTOS AND FILES</h1>
    <h1 *ngIf="parentData==8" style="color:aliceblue;font-size: large; padding: 20px">MESSAGES</h1>
    <h1 *ngIf="parentData==9" style="color:aliceblue;font-size: large; padding: 20px">APPOINMENTS</h1>
    <h1 *ngIf="parentData==10" style="color:aliceblue;font-size: large; padding: 20px">HELP & SUPPORT</h1>
    <!-- eroor ekak enna puluwan -->

    <div class="btn-holder" style="margin-right: 180px; margin-top: -20px;">
        <div class="btn-group">
            <a routerLink='/healthprofile'>
                <button *ngIf="parentData==1" style="background-color: #2e9cca;" disabled><b>MY HEALTH</b></button>
                <button *ngIf="parentData==2"><b>MY HEALTH</b></button>
                <button *ngIf="parentData==3"><b>MY HEALTH</b></button>
                <button *ngIf="parentData==4"><b>MY HEALTH</b></button>
            </a>

            <a routerLink='/consultationhistory'>
                <button *ngIf="parentData==1"><b>CONSULTATION HISTORY</b></button>
                <button *ngIf="parentData==2"><b>CONSULTATION HISTORY</b></button>
                <button *ngIf="parentData==3"><b>CONSULTATION HISTORY</b></button>
                <button *ngIf="parentData==4" style="background-color: #2e9cca;" disabled><b>CONSULTATION HISTORY</b></button>
            </a>
            <a routerLink='/healthrecords2'>
                <button *ngIf="parentData==1"><b>HEALTH RECORDS</b></button>
                <button *ngIf="parentData==3"><b>HEALTH RECORDS</b></button>
                <button *ngIf="parentData==2" style="background-color: #2e9cca;"><b>HEALTH RECORDS</b></button>
                <button *ngIf="parentData==4"><b>HEALTH RECORDS</b></button>
            </a>
            <a routerLink='/appoinments'>
                <button *ngIf="parentData==6 " style="margin-left: -50%;background-color: #2e9cca;"><b>SEARCH DOC</b></button>
                <button *ngIf="parentData==9 " style="margin-left: -50%;"><b>SEARCH DOC</b></button>
            </a>
            <a routerLink='/book'>
                <button *ngIf="parentData==6" style="margin-left: 30%;"><b>YOUR APPOINMENTS</b></button>
                <button *ngIf="parentData==9" style="background-color: #2e9cca;margin-left: 30%;"><b>YOUR APPOINMENTS</b></button>
            </a>
        </div>
    </div>
</div>