<div class="box">
    <h1 style="color: black;font-size: medium;">HEALTH PROFILE</h1>
    <div class="dropdown">
      <div style="padding-bottom: 5px;">
        <span style="font-size: x-large;align-items: center"></span>
      </div>
        <div class="dropdown-content">
          <p>Hello World!</p>
        </div>
      </div>
      <div class="btn-holder">
        <div class="btn-group" >
          <button *ngIf="parentData==1">MY HEALTH</button>
          <button>MY PROVIDERS</button>
          <button>CONSULTATION HISTORY</button>
          <button>HEALTH RECORDS</button>
        </div>
      </div>
</div>
