.box {
    width: 80vw;
    height: 20vh;
    padding-left: 4px;
    padding-top: 1px;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    position: relative;
    background-color: #29648a;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-holder {
    justify-content: flex-end;
    display: flex;
    padding-bottom: 10px;
    right: 210px;
    border: none;
    opacity: 1;
}

.btn-group button {
    /* Green background */
    border: none;
    /* Green border */
    color: black;
    /* White text */
    padding: 10px 24px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    float: left;
    /* Float the buttons side by side */
    height: 6vh;
    width: 16vw;
    padding-bottom: 10px;
    margin-right: 35px;
}

.btn-group button:not(:last-child) {
    border-right: none;
    /* Prevent double borders */
}


/* Clear floats (clearfix hack) */

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}


/* Add a background color on hover */

.btn-group button:hover {
    background-color: #C1C8E4;
}


/* Dropdown Button */