<div class="priscription_body">

    <h1>Add prescription</h1>
    <form action="" [formGroup]="prescriptionForm">

        <div class="form-group row" style="margin-top: 40px;">
            <label for="prescription_bar" class="col-sm-2 col-form-label">Add Medicines</label>
            <div class="col-sm-10">
                <input type="text" name="prescription_bar" formControlName="content" class="form-control">
                <button type="button" style="position:absolute; right:15px; top:40px;" class="btn btn-primary col-sm-2" (click)="addprescription()">Add </button>
            </div>

        </div>



        <div class="form-group row" style="margin-top: 60px;">
            <label for="recomendation" class="col-sm-2 col-form-label">Other Notes</label>
            <div class="col-sm-10">
                <input type="text" name="recomendation" formControlName="other" class="form-control">

                <button type="button" style="position:absolute; right:15px; top:40px;" class="btn btn-primary col-sm-2" (click)="addOtherNotes()">Add</button>
            </div>


        </div>



    </form>

    <div class="issuedPrescriptions" style="margin-top: 50px;">Prescribed Medicines</div>
    <ul>
        <li *ngFor="let prescription of descripitonArray">
            {{prescription}}
        </li>
    </ul>

    <div class="issuedPrescriptions">Other Notes</div>
    <ul>
        <li *ngFor="let item of otherNotesArray">
            {{item}}
        </li>
    </ul>

    <button type="button" style="margin-top: 20px;" class="btn btn-primary" (click)="save()">Issue Prescription</button>
</div>