
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
    </head>
    <body class="body">
        <div class="navibar">
             <app-patient-home class="subnavibar"></app-patient-home>
        </div>
        <div class="bodyrest">
            <div style="align-self: flex-start;width: 82vw;"> 
                <app-pagemenu [parentData]="flag"></app-pagemenu>
                <div class="submenu">
                   <div class="photoholder">
                        <button class="addpoto" *ngIf='changingimg'> 
                            <div > 
                              <i class="fa fa-user" id="icon" style="width: 2vw;height: 100%;" ></i>
                            </div>
                        </button>
                        <button class="addpoto" *ngIf='!changingimg'> 
                            <div > 
                              
                            </div>
                        </button> 
                        <button style="top: 30%;border-radius: 50%;border-color: aliceblue;" (click)='changingImage()'>
                            <i class="fa fa-user" id="icon" style="width: 2vw;height: 100%;" ></i>
                        </button>
                        <div class="profilename">
                            <h1 *ngIf="user">{{ user?.displayName }}</h1>
                        </div>
                   </div>
                   <div class="btn-holder">
                    <div class="btn-group" >
                        <button *ngIf="mark==2" class="btn" (click)='onClickhealth()'>MY HEALTH HISTORY</button>
                        <button *ngIf="mark==1" class="btn" (click)='onClickhealth()' style="background-color: #8860D0;">MY HEALTH HISTORY</button>
                        <button *ngIf="mark==3" class="btn" (click)='onClickhealth()'>MY HEALTH HISTORY</button>

                        <button *ngIf="mark==1" class="btn" (click)='onClickbehavirol()'>MY BEHAVIROL HISTORY</button>
                        <button *ngIf="mark==2" class="btn" (click)='onClickbehavirol()' style="background-color: #8860D0;">MY BEHAVIROL History</button>
                        <button *ngIf="mark==3" class="btn" (click)='onClickbehavirol()'>MY BEHAVIROL History</button>

                        <button *ngIf="mark==1" class="btn" (click)='onClickfamily()'>MY FAMILY HISTORY</button>
                        <button *ngIf="mark==2" class="btn" (click)='onClickfamily()'>MY FAMILY HISTORY</button>
                        <button *ngIf="mark==3" class="btn" (click)='onClickfamily()' style="background-color: #8860D0;">MY FAMILY HISTORY</button>
                    </div>

                   </div>

                </div>
                <div  *ngIf="mark==1">
                 <div class="dive">
                    <h2>Do you have any allergies or drug sensivities?</h2>
                </div>
                 <div class="btn-holder2" >
                    <div class="btn-group2">
                        <button class="yes-btn" (click)=" onClickYesAlleg()">YES</button><button class="no-btn" (click)=" onClickNoAlleg()">NO</button>
                    </div> 
                 </div>
                 <div class="dive">
                    <h2>Are you currently taking any medication?</h2>
                </div>
                 <div class="btn-holder2">
                    <div class="btn-group2 button">
                        <button class="yes-btn" (click)=" onClickYesMed()">YES</button><button class="no-btn" (click)=" onClickNoMed()">NO</button>
                    </div> 
                 </div>
                 <div class="dive">
                    <h2>Do you have any health conditions?</h2>
                </div>
                 <div class="btn-holder2">
                    <div class="btn-group2 button">
                        <button class="yes-btn" (click)=" onClickYesCond()">YES</button><button class="no-btn" (click)=" onClickNoCond()">NO</button>
                    </div> 
                 </div>
                 <div class="dive">
                    <h2>Have you ever had any surgeries or medical procedures?</h2>
                </div>
                 <div class="btn-holder2">
                    <div class="btn-group2 button">
                        <button class="yes-btn" (click)=" onClickYesOpo()">YES</button><button class="no-btn" (click)=" onClickNoOpo()">NO</button>
                    </div> 
                 </div>
                 <div class="bmi">
                    <div class="dive">
                        <h1>Enter your Details</h1>
                    </div>
                    <form action="" #bmiForm="ngForm" (ngSubmit)="calc(bmiForm)">
                    <div style="padding-top: 3%;padding-left: 20%;">
                        <label style="font-family: Arial, Helvetica, sans-serif;padding-right: 17px;" >
                            Current Body Weight(kg):
                        </label>
                        <input  ngModel #weight="ngModel" name="weight" type="text" class=""  placeholder="Enter weight"  >
                    </div>
                    <div style="padding-top: 3%;padding-left: 20%;">
                        <label style="font-family: Arial, Helvetica, sans-serif;padding-right: 50px;">
                            Current Height(cm):
                        </label>
                        <input  ngModel #height="ngModel" name="height" type="text" class=""  placeholder="Enter Height"  >
                    </div>
                    <div style="padding-top: 3%;padding-left: 30%;">
                        <button type="submit" class="btn">Calculate</button>
                    </div>
                    <div style="padding-top: 2%;padding-left: 20%;">
                        <label style="font-family: Arial, Helvetica, sans-serif;padding-right: 140px;">
                            BMI :{{bmi| number:'1.0-1'}} 
                        </label>
                        <div>
                            <p *ngIf="bmi<=18.5" style="color: red;"><b>YOU ARE UNDERWEIGHT</b></p>
                            <p *ngIf="bmi>18.5 && bmi<=24.9" style="color: green;"><b>YOU ARE HEALTHY</b></p>
                            <p *ngIf="bmi>24.9 && bmi<=29.9" style="color: yellow;"><b>YOU ARE SLIGHTLY OVERWEIGHT</b></p>
                            <p *ngIf="bmi>29.9" style="color: red;"><b>YOU ARE UNDERWEIGHT</b>></p>
                        </div>
                    </div>
                    </form>
                    <div >
                    </div>
                 </div>
                </div>

                <div *ngIf="mark==2">
                    <app-behaviorhistory></app-behaviorhistory>
                </div>
                <div *ngIf="mark==3">
                    <app-familyhistory></app-familyhistory>
                </div>

            </div>
        </div>
     </body>
