<div class="container">
    <div class="row">


        <div id="htmlData" style="border:solid 6px blue ; width:595px; height: 840px;" #htmlData>

            <h1 style="margin-left: 45%; margin-top: 20px; font-weight: bold;">E care</h1>
            <div style="margin-left: 8%;">
                <div class="row">
                    Issued Date: {{date}}
                </div>
                <div class="row" style="margin-top: 10px;">
                    Patient's Name: {{patientname}}
                </div>
                <div class="row" style="margin-top: 10px;">
                    Doctor's Name: {{docname}}
                </div>
                <!-- Issued Date: {{date}}<br> Patient's Name: {{patientname}}<br> Doctor's Name: {{docname}}<br> -->
            </div>


            <hr>

            <h4 style="margin-left: 5%;  font-weight: 500;">Prescribed Medicines</h4>
            <div *ngFor="let prescription of prescriptiondata" style="margin-left: 5%; margin-top: 1%;">
                {{prescription}}
            </div>
            <!-- QR CODE PART STARTS-->
            <div style="margin-top: 300px; margin-left: 10px;">
                <ngx-qrcode [elementType]="elementType" [value]="value" cssClass="aclass" errorCorrectionLevel="L">
                </ngx-qrcode>
            </div>
            <p style="margin-left: 4%;">Scan this QR Code to check the validity of this prescription</p>

            <!-- QR CODE PART ENDS -->
        </div>
        <div class="col-md-5 text-right">
            <button class="btn btn-success btn-block" (click)="openPDF()">Open PDF</button>
            <button class="btn btn-danger btn-block" (click)="downloadPDF()">Download PDF</button>
        </div>
    </div>