<app-main-navigation-bar></app-main-navigation-bar>

<div class="howitworks_container_1" style="background-image: url(assets/images/backgroundimage_howitworks.jpg); ">
    <h1>Welcome to MDCARE!  </h1>

    <h2>Your 24/7 resource for easy, convenient healthcare</h2>
    <div class="howitworkslink">
        <ul style="float: left; width: 40%;">
            <h2>Not a member</h2>
            <li>Join millions of people who have registered for access to
                 immediate online doctor visits using your smartphone, tablet or computer.</li>
            <button class="btn1"><a routerLink="/joinnow" routerLinkActive="active">Join now</a></button>
            
        </ul>
        <ul style="float:right; width: 40%;"> 
            <h2>Already a member</h2>
            <li>Then you know you can see a doctor in minutes and get a prescription sent to a pharmacy near you when needed.</li>
            <button class="btn1"><a href="" routerLink="/login" routerLinkActive="active">Login now</a></button>
        </ul>
    </div>
   

</div>

<div class="howitworks_container_2">
    <img src="/assets/images/pic10.jpg" alt="" height="500px" width="430px">
</div>

<div class="howitworks_container2">
        <h1>Using MDCARE is as easy as one, two, three.</h1>
        <div class="con2_sub2">
             <p>You can’t plan when you’ll get sick, but you can take your doctor with you and
             get the care you need anywhere in the Sri lanka.</p>
        </div>
        <div class="sub_con">
            <ul style="float: left; width: 28%;">
                <h3>Step 1</h3>
                <p>Setting up your secure account only takes about 15 minutes.
                    Then, you’re ready for your visit. Don’t forget to download our app and always be prepared.</p>
            </ul>
                
                
            <ul style="float: left; width: 28%;">
                <h3>Step 2</h3>
                <p>Search through our network of board-certified doctors and choose the one that’s right for you.
                     You can wait to see a doctor right away or schedule your appointment for a time that works for you.</p>
            </ul>
                
            <ul style="float: right; width: 28%;">
                <h3>Step 3</h3>
                <p>Speak to your doctor on the phone or online.
                     They’ll go through your symptoms, recommend a treatment and can even send a prescription to your 
                     nearest pharmacy if you need one.</p>
         </ul>
        
        </div>
</div>

<div class="howitworks_container3" style="background-image: url(assets/images/howitworksimage3.jpg);">

    <div  class="container3_sub1">
        <div class="con3_sub1_sub1">
            <h1>Our doctors are here to help</h1>
           
        </div>
        <p>We’re committed to offering you and your  family the best in online doctor visits. <br>
            Register now and let our doctors help with more than 50 minor illnesses,
             from colds and sinus infections to allergies and more.</p>

        <div class="con3_sub1_sub2">
            <ul style="float: left; width: 26%;">
               <h3>Medical</h3>
               <li>Common cold</li>
               <li>Allergies</li>
               <li>Constipation</li>
               <li>Cough</li>
               <li>Diarrhea</li>
               <li>Fever</li>
            </ul>

            <ul style="float: left; width: 26%;"> 
                <h3>Behavioral Health</h3>
                <li>Anxiety</li>
                <li>Depression</li>
                <li>Bipolar</li>
                <li>panic disorders</li>
                <li>Stress </li>
                <li>Management</li>
                <li>Grief and Loss</li>
                <li>LGBTQ support</li>
            </ul>
            <ul style="float: right; width: 26%;">
                   <h3>Dermatology</h3>
                   <li>Acne</li>
                   <li>Rash</li>
                   <li>Spots</li>
                   <li>Eczema</li>
                   <li>Warts</li>
                   <li>Rosacea</li>
                   <li>Psoriasis</li>
                   <li>Hair follicles</li>
            </ul>
        </div>

    </div>


</div>

<div class="howitworks_container_4">
    <h1>Get back to feeling better with MDLIVE.</h1>
    <button class="con4_btn1" ><a href=""routerLink="/joinnow" routerLinkActive="active">Join now </a></button> 
    
    <button class="con4_btn2"  ><a href=""routerLink="/login" routerLinkActive="active">Log in</a></button>
</div>




<app-main-footer></app-main-footer>