<style>
    mat-nav-list {
      color:white;
    }
    mat-nav-list a {
      color:white;
    }
</style>
<mat-nav-list>
    <div class="profile-card">
        <div class="header"  *ngFor ="let item of doctor">
            <h2><p>{{item.doctorFirstName}} {{item.doctorLastName}}</p></h2>
            <h4>{{item.doctorEmail}}</h4>
        </div>
        <div class="img-circular"></div>
    </div>

    <mat-divider></mat-divider>

    

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/docHome">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/appointments">Appointments</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/updateAccount">Update Account</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contentDoc">Content</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/appointmentSchedule">Appointment Schedule</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/announcements">Announcements</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/payments">Payments</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/patients">My Patients</a>


    <mat-divider></mat-divider>

    
</mat-nav-list>