.mat-icon {
    vertical-align: middle;
    margin-right: 20px;
  }
.profile-card {
    text-align: center;
    padding: 0 20px 20px 20px;
}


.img-circular{
  text-align: center;
  padding: 0 20px 20px 20px;
  margin: 10px 0px 10px 80px;
  width: 100px;
  height: 100px;
  background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
  background-size: cover;
  display: block;
  border-radius: 50%;
 }

 .mat-list-item:hover{
  background: -webkit-linear-gradient#5AB9EA;
  background: linear-gradient#5AB9EA;
  background-color: #5AB9EA;
	border: 0 none;
 }