.mat-icon {
    vertical-align: middle;
    margin-right: 20px;
  }

.profile-card {
    text-align: center;
    padding: 20px;
}
#imgcss {
  width: 200px;
  height:200px;
  object-fit: cover;
  border-radius: 50%;
}


.img-circular{
  text-align: center;
 
  margin: 0px 0px 0px 100px;
  width: 100px;
  height: 100px;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/e-care-96a24.appspot.com/o/ig9OVOnMRlgw3c4W7iKrYiTx92B2%2FproPic?alt=media&token=9857ed32-97d6-4918-b9aa-54c10225d9fa');
  background-size: cover;
  display: block;
  border-radius: 50%;
  
 }

 .mat-list-item:hover{
  background: -webkit-linear-gradient#5AB9EA;
  background: linear-gradient#5AB9EA;
  background-color: #5AB9EA;
	border: 0 none;
 }


.mat-nav-list {
      color:white;
    }
.mat-nav-list a {
      color:white;
    }
