<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
</head>

<body class="body">
    <div class="navibar">
        <app-patient-home class="subnavibar"></app-patient-home>
    </div>
    <div class="bodyrest">
        <div style="align-self: flex-start;width: 82vw;">
            <app-pagemenu [parentData]="flag"></app-pagemenu>

            <div class="card" *ngIf="mark==1" style="margin-top: 5%;margin-left: 13%;">
                <div class="container">
                    <div class="ppic">

                        <div style="margin-left: 0%;width: 100%;background-color: black;height: 99%;">
                            <app-uploadererppic></app-uploadererppic>
                        </div>
                        <div style="margin-left: 45%;margin-top: -12%;">
                            <p style="color: black;"><b>ADD PROFILE PICTURE</b></p>
                        </div>
                    </div>
                    <div>
                        <form (ngSubmit)="onSubmit()" class="col s6" class="mainbody"
                            style="width: 68vw;height: 85vh;align-self: flex-start;color: blue;margin-top: 1%;">
                            <div class="formp1">
                                <h1 style="color: black; "><b> UPDATE YOUR PERSONAL DETAILS</b></h1>

                                <div style="width: 35%;">
                                    <div class="searchformfld">
                                        <input style="color: black;" width="50vw" type="text" class="email" id="email"
                                            name="email" value="{{user.email}}" placeholder=" " disabled />
                                        <label for="email"><b>Email</b></label>


                                    </div>
                                </div>
                                <div style="width: 35%;">
                                    <div class="searchformfld">
                                        <input width="50vw" type="text" class="firstname" id="firstname"
                                            name="firstname" value="{{meds.firstname}}" placeholder=" " disabled />
                                        <label for="firstname"><b>First Name</b></label>
                                    </div>
                                </div>
                                <div style="width: 35%;">
                                    <div class="searchformfld">
                                        <input value={{meds.secondname}} width="50vw" type="text" class="lastName"
                                            id="lastName" name="lastName" placeholder=" " disabled />
                                        <label for="lastName"><b>Last Name</b></label>
                                    </div>
                                </div>
                                <div style="width: 35%;">
                                    <div class="searchformfld">
                                        <input [(ngModel)]="item.phone" value={{meds.phone}} width="50vw" type="text"
                                            class="phoneNumber" id="phone" name="phone" placeholder=" " />
                                        <label for="phoneNumber"><b>Phone Number</b></label>
                                    </div>
                                </div>
                            </div>
                            <div class="formp2">

                                <div style="width: 35%;">
                                    <div class="searchformfld">
                                        <input [(ngModel)]="item.addr" value={{meds.addr}} width="50vw" type="text"
                                            class="addr" id="addr" name="addr" placeholder=" " />
                                        <label for="addr"><b>Address </b></label>
                                    </div>
                                </div>
                                <div style="width: 35%;">
                                    <div class="searchformfld">
                                        <input [(ngModel)]="item.emercntct" value={{meds.emercntct}} width="50vw"
                                            type="text" class="emergency" id="emergency" name="emergency"
                                            placeholder=" " />
                                        <label for="emergency"><b>Emergency Contact </b></label>
                                    </div>
                                </div>
                                <div style="width: 35%;">
                                    <div class="searchformfld">
                                        <input width="50vw" value={{meds.dob}} type="date" class="dob" id="dob"
                                            name="dob" disabled placeholder=" " />
                                        <label for="dob"><b>Date Of Birth </b></label>
                                    </div>
                                </div>
                                <div style="width: 35%;">
                                    <div class="searchformfld">
                                        <input width="50vw" value={{meds.gender}} type="text" class="gender" id="gender"
                                            name="gender" disabled placeholder=" " />
                                        <label for="gender"><b>Gender </b></label>
                                    </div>
                                </div>
                                <div style="width: 100%;margin-left: 20%;margin-top: 20%;">
                                    <div class="submit">
                                        <input width="10vw" type="submit" class="submit" id="phoneNumber"
                                            name="phoneNumber" placeholder=" " (click)="openOtherDialog()" />
                                        <ng-template #secondDialog>
                                            <h2 matDialogTitle>Profile Updated Successfully</h2>

                                            <mat-dialog-actions align="end">
                                                <button mat-button matDialogClose>Dismiss</button>
                                            </mat-dialog-actions>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>
</body>