<!-- <p>admin-paymentdetails works!</p> -->
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <a href="" class="toolbar-space"><span>eCare</span></a>
      <a routerLink="../admin" class="toolbar-space"><span>Home</span></a>
    </mat-toolbar-row> 
</mat-toolbar>

<div id="img"> 
    <div id="sidebar">
        <ul>
            <li><a routerLink="../manage-doctor"><i class="material-icons">people_outline</i>Manage Doctors</a></li>
            <li><a routerLink="../manage-patient"><i class="material-icons">person_pin</i>Manage Patients</a></li> 
            <!-- <li><a href=""><i class="material-icons">comment</i>Notifications</a></li> -->
            <li><a href="" routerLink="../adminfeedbacks" routerLinkActive="active" style="padding-right: 25px;"><i class="material-icons">comment</i>Feedbacks</a></li>
            <li><a routerLink="../admin-paymentdetails"><i class="material-icons">payment</i>Payment details</a></li>
            <li><a routerLink="../admin-announcement"><i class="material-icons">announcement</i>Announcements</a></li>
        </ul>
    </div>

    <div class="tbl_container">     
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>DocID</th>
              <th>App 1</th>
              <th>App 2</th>
              <th>App 3</th>
              <!-- <th>{{AppointCount}}</th> -->
             
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Doc 1</td>
              <td>900</td>
              <td>1800</td>
              <td>2700</td>
             
              <!-- <td>{{count}}</td> -->
            </tr>
            <tr>
                <td>Doc 2</td>
                <td>0</td>
                <td>900</td>
                <td>1800</td>
                <!-- <td>{{Patientcount}}</td> -->
            </tr>
            <tr>
                <td>Doc 3</td>
                <td>900</td>
                <td>900</td>
                <td>1800</td>
                <!-- <td>{{Usercount}}</td> -->
            </tr>
          </tbody>
        </table>
      </div>

      <div class="graph_wrapper">
        <canvas id="myChart" width="800" height="300"></canvas>
    </div>