<!-- <p>admin-paymentdetails works!</p> -->
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <a href="" class="toolbar-space"><span>eCare</span></a>
      <a routerLink="../admin" class="toolbar-space"><span>Home</span></a>
    </mat-toolbar-row> 
</mat-toolbar>

<div id="img"> 
    <div id="sidebar">
        <ul>
            <li><a routerLink="../manage-doctor"><i class="material-icons">people_outline</i>Manage Doctors</a></li>
            <li><a routerLink="../manage-patient"><i class="material-icons">person_pin</i>Manage Patients</a></li> 
            <!-- <li><a href=""><i class="material-icons">comment</i>Notifications</a></li> -->
            <li><a href="" routerLink="../adminfeedbacks" routerLinkActive="active" style="padding-right: 25px;"><i class="material-icons">comment</i>Feedbacks</a></li>
            <li><a routerLink="../admin-paymentdetails"><i class="material-icons">payment</i>Payment details</a></li>
            <li><a routerLink="../admin-announcement"><i class="material-icons">announcement</i>Announcements</a></li>
        </ul>
    </div>
<div id="content">
    <div class="tbl_container">     
        <table class="table table-striped  table-hover table-bordered">
          <thead>
            <tr>
                <th>Channel ID</th>
                <th>Doctor Name</th>
                <th>Patient Name</th>
                <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of price">
                <td>{{item.channelID}}</td>
                <td>{{item.docName}}</td>
                <td>{{item.patientname}}</td>
                <td>LKR.{{item.price}}</td>
                <!-- <td>Gender</td>
                <td>Email</td>
                <td>nic</td>
                <td>city</td> -->
            </tr>
          </tbody>
        </table>
      </div>
      </div>

      <div class="graph_wrapper">
        <canvas id="myChart" width="800" height="300"></canvas>
    </div>

<!-- 
    
<div class="wrapper">    
   
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table>
                <caption>Price list</caption>
                
                <tr>
                    <th>docID</th>
                    <th>channelID</th>
                    <th>docName</th>
                    <th>price</th>
                </tr>
              
                <tr *ngFor="let item of price">
                    <td>{{item.docid}}</td>
                    <td>{{item.channelID}}</td>
                    <td>{{item.docName}}</td>
                    <td>{{item.price}}</td>
                   
                </tr>
          
            </table>    
    </div>
    </div> -->