*{
    margin: 0;
    padding: 0;
}


#img{
    width: 100%;
    height: 100vh;
    background-image: url('/assets/images/wallpaper1.jpg');
    background-size: cover;
    filter: opacity(0.7);
}

#sidebar{
    position: absolute;
    display: block;
    width:20%;
    height: 100%;
    /* left: -20%; */
    background-color:  rgb(47, 49, 97);
    /* filter: opacity(0.7); */
    align-items: left;
}

#sidebar li{
    color: white;
    font-size: 100%;
    padding: 30px;
    border-bottom: 1px solid gray;
    text-align: center;
}

#sidebar li a{
    text-decoration: none;
    color: white;
    display: inline-flex;
    /* align-items: center; */
}

#sidebar li:active{
    background:gray;

}

#sidebar.active{
    left: 0;
}
.material-icons{  
    margin-right: 10px; 
    align-items: center;
}


.wrapper{
    position: absolute;
    display: flex;
    margin-right: auto; 
    margin-left:  auto; 
    max-width: 960px; 
    padding-top: 50px;
    padding-right: 10px;
    padding-left:  50px; 
    color: black;
    left: 50%;
    transform: translate(100%, 0);
     
}

table{
    width: 800px;
    table-layout: initial;
    
    /* overflow-y:scroll; */
    /* border-spacing: 40px ; */
}

th{
    text-align: left;
}

table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
}

th, td {
  padding: 10px;
  color: black;
}

caption{
    text-align: center;
    font-family: Verdana;
    font-weight: bold;
    color: black;
}

tr:nth-child(even){
    background-color: #fff;
}

tr:nth-child(odd){
    background-color: #ddd;
}

/* .tbody{
 
 overflow-y:scroll;
} */


.my-custom-scrollbar {
    position: absolute;
    height: 600px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
    left: 50%;
    transform: translate(-50%, 0);
 
}


.mat-toolbar.mat-primary {
    background: #3f51b5;
    color: #fff;
}

.toolbar-space{
    text-decoration: none;
    color: white;
    padding: 0 14px;
    font-size: 18px;
}

.material-icons{  
    margin-right: 10px; 
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}

a:hover {
   color: white;
    text-decoration: none;
}

.bodyrest{
  /* width: 85%; */
  margin-left: 20%;
  display: flex; 
  /* left: 50%; */
  }

  .search{   
    width: 100%;
    height: 10%;
    /* margin-top: 50px; */
    color: #888, #555;
    text-shadow: 0 -1px 0 #000;	
    opacity: 1;
    display: flex;
    margin-right: auto; 
    margin-left:  auto; 
    max-width: 960px; 
    padding-top: 50px;
    padding-right: 10px;
    /* padding-left:  50px;  */
    left: 50%;
  }

  .datacard{
    display: flex;
    grid-template-columns: 300px;
    grid-template-rows: 200px 200px 80px;
    grid-template-areas: "image" "text" "stats";
    background: #84CEEB;
    box-shadow: 15px 15px 25px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    height: 25vh;
    width: 90%;
    margin-top: 5%;
    margin-left: 1%;
  }
  
  .pic{
    width: 20%;
    height: 100%;
    background-color: #000;
    align-self: flex-start;
}
.docname{
    margin-left: 1%;

}