<style>
    mat-nav-list a {
      color:white;
    }
</style>

<mat-nav-list>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/docHome">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/manageDoctor">Manage Doctor</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/managePatient">Manage Patient</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/feedbacks">Feedbacks</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="#">##</a>

    <!-- <mat-divider></mat-divider> -->

    
</mat-nav-list>