<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>OBAMA</h2>
            <h4>obama@email.com</h4>
        </div>
        <div class="img-circular"></div>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/docHome">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/manageDoctor">Manage Doctor</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/managePatient">Manage Patient</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/tets">tets</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="#">##</a>

    <mat-divider></mat-divider>

    
</mat-nav-list>