<div [id]="localCallId" class="local">
</div>

<div *ngFor="let callId of remoteCalls" [id]="callId" class="remote"></div>
<div>
    <button class="" (click)="Oncollapse()">SHOW VITALS</button>
    <button class="" (click)="Onexpand()">HIDE</button>
    <div *ngIf="mark ==2">
        <h1>dfsdfs</h1>
    </div>

    <div class="row">
        <button mat-button (click)="callAPI()">Open dialog</button>
    </div>
    <ng-template #callAPIDialog>
   
        <div class="modal-body">
         <app-prescriptionpdf [channelid]="channelID"></app-prescriptionpdf>
        </div>
       
      </ng-template>
</div>