<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <!-- <li><a href="">eCare</a></li> -->
      <a href="" class="toolbar-space"><span>eCare</span></a>
      <a routerLink="../admin" class="toolbar-space"><span>Home</span></a>
    </mat-toolbar-row> 
</mat-toolbar>


<div id="img"> 
     
    <div id="sidebar">
 
        <!-- <div class="toggle-btn"  (click)="toggleCollapse()" >
            <span></span>
            <span></span>
            <span></span>
        </div> -->
    <div *ngIf="isCollapsed">
        <ul>
            <!-- <li  href="" routerLink="/manage-doctor" routerLinkActive="active">Manage Doctors</li> -->
            <li>
                <a routerLink="../manage-doctor"><i class="material-icons">people_outline</i>Manage Doctors</a>
            </li>
            <li>
                <a routerLink="../manage-patient"><i class="material-icons">person_pin</i>Manage Patients</a>
            </li> 
            <!-- <li>
                <a href=""><i class="material-icons">comment</i>Notifications</a>
            </li> -->
            <li>
                <a href="" routerLink="../adminfeedbacks" routerLinkActive="active"><i class="material-icons">comment</i>Feedbacks</a>
            </li>
            <li>
                <a href=""><i class="material-icons">payment</i>Payment details</a>
            </li>
            <li>
                <a routerLink="../admin-announcement"><i class="material-icons">announcement</i>Announcements</a>
            </li>
        </ul>
    </div>
    </div>

</div> 
