<app-main-navigation-bar></app-main-navigation-bar>

<div id="img"> 
     
    <div id="sidebar" >

        <div class="toggle-btn"  (click)="toggleCollapse()" >
            <span></span>
            <span></span>
            <span></span>
        </div>
    <div *ngIf="isCollapsed">
        <ul>
            <!-- <li  href="" routerLink="/manage-doctor" routerLinkActive="active">Manage Doctors</li> -->
            <li><a routerLink="../manage-doctor">Manage Doctors</a></li>
            <li><a routerLink="../manage-patient">Manage Patients</a></li> 
            <li>Notifications</li>
            <li>Feedbacks</li>
            <li>Payment details</li>
            <li>Announcements</li>
        </ul>
    </div>
    </div>
</div> 
