<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <a href="" class="toolbar-space"><span>eCare</span></a>
      <a routerLink="../admin" class="toolbar-space"><span>Home</span></a>
    </mat-toolbar-row> 
</mat-toolbar>

<div class="img"> 
     
    <div id="sidebar">
        <ul>
            <li>
                <a routerLink="../manage-doctor"><i class="material-icons">people_outline</i>Manage Doctors</a>
            </li>
            <li>
                <a routerLink="../manage-patient"><i class="material-icons">person_pin</i>Manage Patients</a>
            </li> 
            <li>
                <a href="" routerLink="../adminfeedbacks" routerLinkActive="active" style="padding-right: 25px;"><i class="material-icons" >comment</i>Feedbacks</a>
            </li>
            <li>
                <a routerLink="../admin-paymentdetails"><i class="material-icons">payment</i>Payment details</a>
            </li>
            <li>
                <a routerLink="../admin-announcement"><i class="material-icons">announcement</i>Announcements</a>
            </li>

        </ul>
    </div>
    <!-- <label> <a routerLink="../admin-graph" >Click to view doctors</a></label> -->
    <div class="text_block">
        <br>
        <h3>eCare the WorldWide telemedicine site</h3>
        <p>
        Healthcare should be simple,fast and uncomplicated.
        E-care makes it easy to visit a doctor in minutes 
        through our mobile app,online and by phone. Get access 
        to quality healthcare without ever leaving your home,
        your job or whereever you. Find out how easy it is 
        to receive affordable,quality care without traveling 
        to the doctor's office. 
        <br>
        <br>
        <br>
        <button  class="button1"><b><a href="" routerLink="../admin-graph" routerLinkActive="active">Learn More</a></b></button>
      </p>
      </div>
        
</div> 
