*{
        margin: 0;
        padding: 0;
}

.mat-toolbar.mat-primary {
        background: grey;
        color: #fff;
}

.toolbar-space{
        text-decoration: none;
        color: white;
        padding: 0 14px;
        font-size: 18px;
}

a{
        text-decoration: none;
        color: white;
      
}
    
a:hover {
        color: white;
        text-decoration: none;
}
    
    

#img{
        width: 100%;
        height: 100vh;
        background-image: url('/assets/images/wallpaper1.jpg');
        background-size: cover;
        filter: opacity(0.7);
}

#sidebar{
        position: fixed;
        display: block;
        width:20%;
        height: 100%;
        /* left: -20%; */
        background-color: black;
    }

#sidebar li{
        color: white;
        font-size: 100%;
        padding: 30px;
        border-bottom: 1px solid gray;
        text-align: center;
}

#sidebar li:active{
        background:gray;

}

#sidebar li a{
        text-decoration: none;
        color: white;
        display: inline-flex;
        align-items: center;

}

.material-icons{  
        margin-right: 10px; 
        align-items: center;
}

.toggle-btn{
        position: absolute;
        left: 105%;
        top: 15px;

}

.toggle-btn span{
        display: block;
        background-color: black;
        width: 30px;
        height: 5px;
        margin: 3px;
}

#sidebar.active{
        left: 0;
}


/* @media screen and (max-width: 700px) {
        #sidebar {
          width: 100%;
          height: auto;
          position: relative;
        }
        #sidebar a {float: left;}
        div.content {margin-left: 0;}
      } */

