.body {
    display: flex;
    overflow-x: hidden;
}

.naviBar {
    width: 22.5vw;
    height: 100vh;
    align-self: flex-start;
}

.subnavibar {
    position: fixed;
    align-self: flex-start;
    margin-left: -20px;
    margin-top: -10px;
}

.bodyrest {
    width: 78%;
    height: 100%;
    margin-left: 19%;
    display: flex;
}

.submenu {
    width: 80vw;
    height: 15vh;
    color: #889, #555;
    text-shadow: 0 -1px 0 #000;
    border-bottom: 1px solid black;
    opacity: 0.8;
    margin-left: 0px;
}

.btn {
    font-size: 1em;
    width: 15vw;
}

.btn:hover {
    background-color: #C1C8E4;
}

.columnl {
    float: left;
    width: 10%;
    margin-left: 8%;
    margin-top: 5%;
}

.columnr {
    float: left;
    width: 15%;
    margin-left: 10%;
    max-height: 25vh;
    margin-top: 5%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}