<body class="body">
   <div class="navibar">
        <app-patient-home class="subnavibar"></app-patient-home>
   </div>
   <div class="bodyrest" style="margin-left: 100px;">
        <div style="align-self: flex-start;" style="margin-left: -30px;"> 
            <app-pagemenu [parentData]="flag2"></app-pagemenu>
            <div class="submenu">
                <div style="width: 500px; "> 
                    <h2 *ngIf="mark==2" style="padding-left: 115px;padding-top: 5.5%;"><button class="btn" (click)='onClickAlleg()'>Allergie Record</button></h2>
                    <h2 *ngIf="mark==1" style="padding-left: 115px;padding-top:5.5%;"><button class="btn" (click)='onClickAlleg()' style="background-color: #8860D0;">Allergie Records</button></h2>
                    <h2 *ngIf="mark==3" style="padding-left: 115px;padding-top: 5.5%;"><button class="btn" (click)='onClickAlleg()'>Allergie Record</button></h2>
                </div>
                <div style="width: 500px;">
                    <h2 *ngIf="mark==1" style="padding-left: 410px;margin-top: -10.8%;"><button class="btn" (click)='onClickMedic()'>Medication History</button></h2>
                    <h2 *ngIf="mark==2"style="padding-left: 410px;margin-top: -10.8%;"><button class="btn" (click)='onClickMedic()' style="background-color: #8860D0;">Medication History</button></h2>
                    <h2 *ngIf="mark==3" style="padding-left: 410px;margin-top: -10.8%;"><button class="btn" (click)='onClickMedic()'>Medication History</button></h2>
                </div>
                <div style="width: 500px;">
                    <h2 *ngIf="mark==1" style="padding-left: 710px;margin-top: -10.8%;"><button class="btn" (click)='onClickRecord()'>Upload Records</button></h2>
                    <h2 *ngIf="mark==2" style="padding-left: 710px;margin-top: -10.8%;"><button class="btn" (click)='onClickRecord()'>Upload Records</button></h2>
                    <h2 *ngIf="mark==3" style="padding-left: 710px;margin-top: -10.8%;"><button class="btn" (click)='onClickRecord()' style="background-color: #8860D0;">Upload Records</button></h2>
                </div>
            </div>
            <div style="width: 80vw;height: 80vh; " *ngIf="mark==1">
                <app-allergierecords></app-allergierecords>
            </div>
            <div style="width: 80vw;height: 80vh; " *ngIf="mark==2">
                <app-medication></app-medication>
            </div>
            <div style="width: 80vw;height: 80vh; " *ngIf="mark==3">
                <app-uploadrecords></app-uploadrecords>
            </div>
        </div>
   </div>
</body>