<body class="body">
   <div class="navibar">
        <app-patient-home class="subnavibar"></app-patient-home>
   </div>
   <div class="bodyrest">
        <div style="align-self: flex-start;"> 
            <app-pagemenu [parentData]="flag2"></app-pagemenu>
            <div style="width: 80vw;height: 15vh;background-color: aqua;margin-top: -15px;">
                <div> 
                    <h2 style="padding-left: 15px;padding-top: 3%;">Allergie Record</h2>
                </div>
                <h2 style="padding-left: 210px;margin-top: -5%;">sasdsa</h2>
            </div>
        </div>
   </div>
</body>