<div *ngIf='yes.medication==="yes"'>
    <ul class="collection">
        <table id="customers">
            <tr>
                <th>Medication</th>
                <th>Description</th>
            </tr>
            <tr *ngFor="let med of meds" class="collection">
                <td>{{med.name}}</td>
                <td>{{med.description}}</td>
            </tr>
        </table>
    </ul>
</div>
<mat-spinner *ngIf="loader"></mat-spinner>
<div *ngIf='yes.medication==="No"'>
    <hr>
    <h5 class="null">There are no records</h5>
</div>
<div *ngIf='yes.medication===""'>
    <hr>
    <h5 class="null">There are no records</h5>
</div>