
*{
    margin: 0;
    padding: 0;
}


/* #img{
    width: 100%;
    height: 100vh;
    
    background-image: url('/assets/images/wallpaper1.jpg');
    background-size: 100% 100%;
    filter: opacity(0.8);
    background-attachment: local;
    
} */

#img{
    width: 100%;
    height: 100vh;
    background-image: url('/assets/images/wallpaper1.jpg');
    background-size: cover;
    filter: opacity(0.7);
}



#sidebar{
    position: fixed;
    display: block;
    width:20%;
    height: 100%;
    /* left: -30%; */
    background-color: black;
    
}

#sidebar li{
    color: white;
    font-size: 100%;
    padding: 30px;
    border-bottom: 1px solid gray;
    text-align: center;
}

#sidebar li a{
    text-decoration: none;
    color: white;
}

.toggle-btn{
    position: absolute;
    left: 105%;
    top: 15px;

}

.toggle-btn span{
    display: block;
    background-color: black;
    width: 30px;
    height: 5px;
    margin: 3px;
}

#sidebar.active{
    left: 0;
}
.markallordelete{
    margin-left: 45%; 
    padding: 1% 1%;
}
.markall, .deleteall{
    padding:2% 5%;
    border-radius:4px;
    margin-left: 5%;
}

.markall{
    background-color: lightblue;
    
}

.deleteall{
    background-color: red;
    color: #000;
}


.feedback_con2{
    margin-left: 25%; 
    display: block;
    
      background-color:black ;
      opacity:0.9 ; 
      margin-bottom: 10px;
       margin-right:5%; 
       color: white;
}


.veiw_name{
    display:block ;
    font-size: 15px;
    width: 30%;
    margin-left: 5%;
    
}

.view_email{
    display: block;
    font-size: 15px;
    width: 40%;
    margin-left: 5%;
}

.view_phoneno{
    display: block;
    font-size: 15px;
    width: 20%;
    margin-left: 5%;
}

.view_subject{
    display: block;
    margin-left: 5%;
    font-size: 15px;
}
.processed,.delete{
    padding: 1% 2%;
   
    float:right;
    border-radius: 4px;
    margin-right: 1%;
}
.processed{
    background-color: lightblue;
    color: black;
}

.delete{
    background-color: red;
    color: black;
}


/* @media screen and (max-width: 700px) {
    #sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    #sidebar a {float: left;}
    div.content {margin-left: 0;}
  } */