<mat-toolbar color="primary">
    <mat-toolbar-row>
    <a href=""><span>eCare</span></a>
    </mat-toolbar-row> 
</mat-toolbar>

<div id="img"> 
    <div id="sidebar">
        <ul>
            <li>
                <a routerLink="../manage-doctor"><i class="material-icons">people_outline</i>Manage Doctors</a>
            </li>
            <li>
                <a routerLink="../manage-patient"><i class="material-icons">person_pin</i>Manage Patients</a>
            </li> 
            <li>
                <a href=""><i class="material-icons">comment</i>Notifications</a>
            </li>
            <li>
                <a href="" routerLink="../adminfeedbacks" routerLinkActive="active"><i class="material-icons">feedback</i>Feedbacks</a>
            </li>
            <li>
                <a href=""><i class="material-icons">payment</i>Payment details</a>
            </li>
            <li>
                <a routerLink="../admin-announcement"><i class="material-icons">announcement</i>Announcements</a>
            </li>
        </ul>
    </div>

    <div class="markallordelete">
        <button class="markall">Mark All</button>
        <button class="deleteall" (click)="ondeleteall()">Delete All</button>
    </div>

    <div class ="feedback_con2 " *ngFor="let sc of contactmessages ; let i = index" >
        <br>

        
        <div class="veiw_name"> Name: {{sc.firstname}}  {{ sc.lastname}}</div>
        <button class="delete" (click)="ondelete(sc.key)"> Delete</button>
        <button class="processed" (click)="onupdate(sc.key)" >processed</button>
        <br>
        <div class="view_email">Email : {{sc.email}}</div>
        <br>
        <div class="view_phoneno">Contact no : {{sc.phoneno}}</div>
        <br>
        <div class="view_subject">Subject :  {{sc.subject}} </div>
        <br>
        
    
    
    </div>
</div> 

