
.image_container_1{
    position: relative;
    
}

.image_container_1 .text_block{
  position: absolute;
  top: 100px;
  left: 100px;
  width: 350px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  padding-left: 20px;
  padding-right: 20px;

}


#homeimage2{
    float: left;
}

.grid_container{
    display: grid block;
    grid-template-columns: auto auto auto auto;
    background-color: white;
    padding: 10px;
    height: 400px;
}

.grid_container .grid{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 22px;

}
.grid_id_1 {
    margin-top: 200px;

}

.grid_id_1 .topic{
    text-align: center;
}
.urgent_care_image {
    position: relative;
}
.urgent_care_image  .text_block{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 500px;
    height: 590px;
    background-color:rgb(233, 239, 241)  /* Fallback color */
   /* Black background with 0.5 opacity */
    
}
.urgent_care_image p,h1,h2{
    margin-left: 20px;
}

  
  /* Create three equal columns that floats next to each other */
 .services .column {
      margin-top: 50px;
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 500px;
    column-gap: 10px; 
    background-color:rgb(255, 255, 255);
    /* Should be removed. Only for demonstration */
   
    box-sizing: border-box;
    
    border: 20px solid rgb(204, 204, 204);    
     
    
  }
  
  /* Clear floats after the columns */
.services  .row:after {
    content: "";
    display: table;
    clear: both;
    background-color: white;
  }

.invite_class{
    height: 500px;
    width: 100%;
    margin-top: 50 px;
    font-size: 30px;
    
    text-align: center;
    
    background-color:rgb(231, 231, 216);
}
.invite_class h1{
    margin-top: 100px;
    color: rgb(216, 161, 42);
    
}
.invite_class h2{
    color: blue;
}