<app-main-navigation-bar></app-main-navigation-bar>
 <div class="image_container_1">
      <img src="assets/images/homepic.jpg" alt="aneh manda" height=50% width=100%>
      <div class="text_block">
        <h3>No 1 online telemedicine site in Sri lanka</h3>
        <p>
        Healthcare should be simple,fast and uncomplicated.
        E-care makes it easy to visit a doctor in minutes 
        through our mobile app,online and by phone. Get access 
        to quality healthcare without ever leaving your home,
        your job or whereever you. Find out how easy it is 
        to receive affordable,quality care without traveling 
        to the doctor's office. 
        <br>
        <br>
        <br>
        <button  class="button1"><b><a href="" routerLink="/howitworks" routerLinckActive="active">Learn More</a></b></button>
      </p>
      </div>
      
      <div class="container1" >
        <p id="homeimage2"><img src="assets/images/homeimage2.png" alt="hfd" height=100% width="600"></p>  
  
        <br><br><br><br>
        <h1>Quality healthcare starts with quality doctors.</h1>
        <p> MDLIVE’s friendly, board-certified doctors are revolutionizing remote access to quality healthcare.
           They are professionally trained to use virtual technology to treat many non-emergency conditions.
           Our doctors are board-certified and have an average of 15 years of experience.
        </p>
         
        <button class="button2">learn more</button>
      </div>
    
       
  </div>
  <div class="grid_id_1">
  <h1 id="topic" >What you get with Medicare</h1>
  <div class="grid_container">
        
    <div class="grid">
      <img src="assets/images/1.jpg" alt="" height="100" width="150">
      <br>
      <p>Visit a doctor, counselor, psychiatrist or dermatologist by mobile app, video or phone.</p>
     </div>
    <div class="grid">
      <img src="assets/images/2.jpg" alt="" height="100" width="150">
      <p>Visits are convenient, private and secure. Protection of your personal information is our priority. </p>
    </div>
    <div class="grid">
      <img src="assets/images/3.jpg" alt=""height="100" width="150">
      <br>
      <p>Avoid the inconvenience and high costs of going to the emergency room or urgent care center.</p>
    </div>
    <div class="grid">
      <img src="assets/images/4.jpg" alt=""height="100" width="150">
      <br>
      <p>  Prescriptions can be sent directly to your local pharmacy if medically necessary.</p>
    </div>
  </div>
  </div>
  
  <div class="services">
    <div class="row">
      <div class="column">
        <h2>Urgent care visits </h2>
        <p>Common cold</p>
        <p>Allergies</p>
        <p>Constipation</p>
        <p>Cough</p>
        <p>Diarrhea</p>
        <p>Ear Problems</p>
        <p>Fever</p>
        <p>Headache</p>
        <p>Nausea</p>
        <p>And more...</p>
        

        <button class="button3">get started</button>
      </div>
      <div class="column">
        <h2>Counseling</h2>
        <p> Addictions </p>
        <p>Bipolar disorders</p>
        <p>Depression</p>
        <p>Eating disorders</p>
        <p>LGBTQ support</p>
        <p>Grief and loss</p>
        <p>Men’s issues</p>
        <p>Panic disorders</p>
        <p>Stress</p>
        <p>And more...</p>

        

        <button  class="button3">get started</button>
      </div>
      <div class="column" >
        <h2>Psychiatry</h2>
        <p>Addictions</p>
        <p>Bipolar disorders</p> 
        <p>Depression</p> 
        <p>Eating disorders</p> 
        <p>LGBTQ support</p> 
        <p>Grief and loss</p> 
        <p>Men’s issues</p> 
        <p>Panic disorders</p>
        <p>Stress</p>
        <p>And more...</p>

        <button class="button3">get started</button>
      
    
      </div>
      <div class="column" >
        <h2>Dermatology</h2>
        <p>Acne</p>
        <p>Rashes</p>
        <p>Suspicious spots</p>
        <p>Moles</p>
        <p>Warts</p>
        <p>Psoriasis</p>
        <p>Eczema</p>
        <p>Insect bites</p>
        <p>Alopecia</p>
        <p>And more...</p>




        <button class="button3">get started</button>
      
    
      </div>
    </div>
</div>
  
  <div class="invite_class">
  <h1 >We’ve changed the way our 39 <br> <br>  million members can see a <br> <br> doctor.  </h1>
  <h2>now its your turn</h2>
  <button id="button4"><a href="" routerLink="/joinnow" routerLinkActive="active">Get Started </a></button>
  
  </div>
  <app-main-footer></app-main-footer>
  
  
