<app-main-navigation-bar></app-main-navigation-bar>
 <div class="image_container_1">
      <img src="assets/images/homeimage1.jpg" alt="aneh manda" height="500" width="1160">
      <div class="text_block">
        <h3>No 1 online medicare site in Sri lanka</h3>
        <p>
        Healthcare should be simple,fast and uncomplicated.
        MDLIVE makes it easy to visit a doctor in minutes 
        through our mobile app,online and by phone.Get access 
        to quality healthcare without ever leaving your home,
        your job or whereever you are.Find out how easy it is 
        to receive affordable,quality care without traveling 
        to the doctor's office. 
        <br>
        <br>
        <br>
        <button height="150" width="100"><b>Learn more</b></button>
      </p>
      </div>
      
      <div  >
        <p id="homeimage2"><img src="assets/images/homeimage2.png" alt="hfd" height="555" width="600"></p>  
  
        <br><br><br><br>
        <h1>Quality healthcare starts with quality doctors.</h1>
        <p style="font-size: x-large;"> MDLIVE’s friendly, board-certified doctors are revolutionizing remote access to quality healthcare.
           They are professionally trained to use virtual technology to treat many non-emergency conditions.
           Our doctors are board-certified and have an average of 15 years of experience.
        </p>
         
        <button>learn more</button>
      </div>
    
       
  </div>
  <div class="grid_id_1">
  <h2 class="topic" >What you get with Medicare</h2>
  <div class="grid_container">
        
    <div class="grid">
      <img src="assets/images/1.jpg" alt="" height="100" width="150">
      <br>
      <p>Visit a doctor, counselor, psychiatrist or dermatologist by mobile app, video or phone.</p>
     </div>
    <div class="grid">
      <img src="assets/images/2.jpg" alt="" height="100" width="150">
      <p>Visits are convenient, private and secure. Protection of your personal information is our priority. </p>
    </div>
    <div class="grid">
      <img src="assets/images/3.jpg" alt=""height="100" width="150">
      <br>
      <p>Avoid the inconvenience and high costs of going to the emergency room or urgent care center.</p>
    </div>
    <div class="grid">
      <img src="assets/images/4.jpg" alt=""height="100" width="150">
      <br>
      <p>  Prescriptions can be sent directly to your local pharmacy if medically necessary.</p>
    </div>
  </div>
  </div>
  <div class="urgent_care_image">
    <img src="assets/images/sickimage1.jpg" alt="aneh mand" height="600" width="1160">
    <div class="text_block">
      <div style="height: 60px; width: 350px;background-color: black;color: cornsilk; margin-top: 0px;"><h2>Urgent Care Visits</h2></div>
      <h1> $85</h1>
      <p>   or less depending on your insurance plan coverage terms.</p>
      <h2> MDLIVE treats over 50 routine medical conditions:</h2>
      kfsakldf
      <br>
      jklfsakl
      <br>
      kljlfsad
      <br>
    </div>
  </div>
  <div class="services">
    <div class="row">
      <div class="column">
        <h2>Column 1</h2>
        <p>Some text..</p>
        <button>get started</button>
      </div>
      <div class="column">
        <h2>Column 2</h2>
        <p>Some text..</p>
        <button>get started</button>
      </div>
      <div class="column" >
        <h2>Column 3</h2>
        <p>Some text.dsfdfffasfadsf <br>
        <button>get started</button>
      <br>
    </p>
      </div>
    </div>
</div>
  
  <div class="invite_class">
  <h1 >We’ve changed the way our 39 <br> million members can see a <br> doctor.  </h1>
  <h2>now its your turn</h2>
  <button>get started </button>
  
  </div>
  <app-main-footer></app-main-footer>
  
  
