
.image_container_1{
    position: relative;
    
}

.image_container_1 .text_block{
  position: absolute;
  
  top: 4%;
  left: 10%;
  width: 25%;
  
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  padding-left: 5%;
  padding-right: 5%;
  

}


#homeimage2{
    float: left;
}


.container1{
    display: inline-block;
    margin-top: 15px;
    height: 600px;
    width: 100%;
    background-color: rgb(236, 236, 255);
}

.container1 h1{
    color:  blue;
}


.grid_container{
    display:block;
    height: 300px;
}

.grid_container .grid{
    width: 25%;
    float: left;
    background-color:white;
    text-align: center;
    padding: 20px 0;
    

}
.grid_id_1 {
    margin-top: 50px;

}

.grid_id_1 #topic{
    text-align: center;
    color: blue;
}

  
  /* Create three equal columns that floats next to each other */
 .services .column {
     
    float: left;
    width: 25%;
    padding: 10px;
    height: 500px;
    column-gap: 10px; 
    background-color:rgb(235, 235, 250);
    /* Should be removed. Only for demonstration */
   
    box-sizing: border-box;
    
    border: 10px solid white    ;    
     
    
  }
  
  /* Clear floats after the columns */
.services  .row:after {
    content: "";
    display: table;
    clear: both;
    background-color: white;
  }

.invite_class{
    display: block;
    height: 400px;
    width: 100%;
    
    text-align: center;
    
    background-color:rgb(231, 231, 216);
}

.services .column h2{
    text-align: center;
    color: blue;
}

.services .column p{
    text-align: center;
}
.invite_class h1{
    display: block;
   
    color: rgb(216, 161, 42);
    font-size: 40px;
    margin-top: 50px;
    padding: 10px;
    
}
.invite_class h2{
    color: blue;
}


/* buttons */
.button1{
    padding: 8px 10px;
    background-color: white;
    margin-left: 30%;
    border-radius: 8px;
}

.button1 a{
    text-decoration:  none;
}


.button2{
    padding: 10px 20px;
    background-color: blue;
    margin-left: 30%;
    border-radius: 8px;
}


.button3{
    padding: 15px 25px;
    background-color: blue;
    border-radius: 8px;
    margin-left: 30%;
    
}
#button4{
    padding: 28px 35px;
    border-radius: 10px;
    background-color: blue; 
    font-size: 20px;
    
}

#button4 a{
    text-decoration: none;
}

