<mat-nav-list>

    <mat-divider></mat-divider>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/patientHome2"><mat-icon>dashboard</mat-icon>PatientHome</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/healthprofile2"><mat-icon>calendar_today</mat-icon>HealthProfile</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/healthrecords2"><mat-icon>schedule</mat-icon>Health Records</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/appoinments"><mat-icon>people</mat-icon>Appointmsmetn</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/announcements"><mat-icon>announcement</mat-icon>Announcements</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/payments"><mat-icon>payment</mat-icon>Payments</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contentDoc"><mat-icon> list_alt</mat-icon>Content</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/updateAccount"><mat-icon>account_box</mat-icon>Update Account</a>
    
    <mat-divider></mat-divider>
    
</mat-nav-list>