<mat-nav-list>

    <mat-divider></mat-divider>

    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/PHome"><mat-icon>dashboard</mat-icon>PatientHome</a> -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/patientHome2">
        <mat-icon>calendar_today</mat-icon>Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/healthrecords2">
        <mat-icon>schedule</mat-icon>Health Records</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/healthprofile2">
        <mat-icon>people</mat-icon>Health Profile</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/appoinments">
        <mat-icon>announcement</mat-icon>Appointments</a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/book"><mat-icon>payment</mat-icon>Payments</a> -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/messages">
        <mat-icon> list_alt</mat-icon>Messages</a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/healthprofile"><mat-icon>account_box</mat-icon>Update Account</a> -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/help">
        <mat-icon>account_box</mat-icon>Help & Support</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/myaccount">
        <mat-icon>account_box</mat-icon>Manage Account</a>

    <mat-divider></mat-divider>

</mat-nav-list>