

    <div class="dive">
        <h2>Does anyone in your family have the following? </h2>
    </div>
    
    <div class="checkbox">
        <label><h3><input type="checkbox" value="" [(ngModel)]='Asthma' >Asthma</h3></label>
    </div>
    <div class="checkbox">
        <label><h3><input type="checkbox" value="" [(ngModel)]='Cancer'>Cancer</h3></label>
    </div>
    <div class="checkbox">
        <label><h3><input type="checkbox" value="" [(ngModel)]='Cystic'>Cystic Fibros</h3></label>
    </div>
    <div class="checkbox">
        <label><h3><input type="checkbox" value="" [(ngModel)]="Diabetes">Diabetes</h3></label>
    </div>
    <div class="checkbox">
        <label><h3><input type="checkbox" value="" [(ngModel)]='Early'>Early / Unexpected Death</h3></label>
    </div>
    <div class="checkbox">
        <label><h3><input type="checkbox" value="" [(ngModel)]='Elevated'>Elevated Cholestrol</h3></label>
    </div>
    <div class="checkbox">
        <label><h3><input type="checkbox" value="" [(ngModel)]='Heart'>Heart Diesease</h3></label>
    </div>
    <div class="checkbox">
        <label><h3><input type="checkbox" value="" [(ngModel)]='Blood'>High Blood Presure</h3></label>
    </div>
    <div class="checkbox">
        <label><h3><input type="checkbox" value="" [(ngModel)]='Metabolic'>Metabolic Diesease</h3></label>
    </div>
    <div class="checkbox">
        <label><h3><input type="checkbox" value="" [(ngModel)]='Seasonal'>Seasonal Allergies</h3></label>
    </div>
    <div class="checkbox">
        <label><h3><input type="checkbox" value="" [(ngModel)]='Sickie'>Sickie Cell Anemia</h3></label>
    </div>
    <div class="checkbox">
        <label><h3><input type="checkbox" value="" [(ngModel)]='Stroke'>Stroke</h3></label>
    </div>
    <div class="checkbox">
        <label><h3><input type="checkbox" value="" [(ngModel)]='Thyroid'>Thyroid Diesease</h3></label>
    </div>
    <div class="checkbox">
        <label><h3><input type="checkbox" value=""[(ngModel)]='Other'>Other</h3></label>
    </div>
    
    <div class="form-group">
        <!-- <mat-form-field appearance="fill">
            <mat-label>Please Explain:</mat-label>
            <input matInput>
          </mat-form-field> -->
        <label for="explain"><h2>Any Explanations:</h2></label>
        <input type="explain" class="form-control" id="explain" [(ngModel)]="explain">
      </div>

      <!-- <section> -->

            <!-- <button mat-button-raised color="accent" style="color:rgb(0, 68, 255); font-size: larger;">Submit -->
            <!-- </button> -->
            <!-- <button style="color: blue;">Add</button> -->
 
        <!-- </section> -->

        <button class="button" (click)="addData()">SUBMIT</button>
    

    


