

    <div class="dive">
        <h1>Does anyone in your family have the following? </h1>
    </div>
    
    <div class="checkbox">
        <label><h2><input type="checkbox" value="">Asthma</h2></label>
    </div>
    <div class="checkbox">
        <label><h2><input type="checkbox" value="">Cancer</h2></label>
    </div>
    <div class="checkbox">
        <label><h2><input type="checkbox" value="">Cystic Fibros</h2></label>
    </div>
    <div class="checkbox">
        <label><h2><input type="checkbox" value="">Diabetes</h2></label>
    </div>
    <div class="checkbox">
        <label><h2><input type="checkbox" value="">Early / Unexpected Death</h2></label>
    </div>
    <div class="checkbox">
        <label><h2><input type="checkbox" value="">Elevated Cholestrol</h2></label>
    </div>
    <div class="checkbox">
        <label><h2><input type="checkbox" value="">Heart Diease</h2></label>
    </div>
    <div class="checkbox">
        <label><h2><input type="checkbox" value="">High Blood Presure</h2></label>
    </div>
    <div class="checkbox">
        <label><h2><input type="checkbox" value="">Metabolic Diease</h2></label>
    </div>
    <div class="checkbox">
        <label><h2><input type="checkbox" value="">Seasonal Allergies</h2></label>
    </div>
    <div class="checkbox">
        <label><h2><input type="checkbox" value="">Sickie Cell Anemia</h2></label>
    </div>
    <div class="checkbox">
        <label><h2><input type="checkbox" value="">Stroke</h2></label>
    </div>
    <div class="checkbox">
        <label><h2><input type="checkbox" value="">Thyroid Diease</h2></label>
    </div>
    <div class="checkbox">
        <label><h2><input type="checkbox" value="">Other</h2></label>
    </div>
    
    <div class="form-group">
        <label for="explain"><h3>Please Explain:</h3></label>
        <input type="explain" class="form-control" id="explain">
      </div>


        <div class="btn-group2 button">
            <button style="color: blue;">Add</button>
        </div> 
    
    

    


