.body{
    display: flex;
    overflow-x: hidden;
}
.navibar{
    width: 22.5vw;
    height: 100vh;
    align-self: flex-start;
    background-color: #888, #555;
}
.subnavibar{
    position: fixed;
    align-self: flex-start;
    margin-left: -20px;
    margin-top: -10px;
}
.bodyrest{
    width: 78%;
    height: 100%;
    margin-left: 21%;
    display: flex;     
}

section {
    display: table;
    margin: 10px;
    margin-bottom: 60px;
  }

  .dive{
      margin-top: 40px;
      margin-bottom: 30px;
  }

  mat-form-field {
    margin-right: 16px;
  }