<app-main-navigation-bar></app-main-navigation-bar>

<div class="forgotpass_con1">

    <div class="forgotpass_con1_sub1">
    <br>
    <p id="sub1">Forgot password?</p>
    
    <p>please enter your email address. <br> We will send you an E-mail with the steps to reset your password.</p>

    <p>Need a assistant feel free to conatact us 
        <br> hotline 0115624750</p>

    <form action="">
        <input type="email" placeholder="enter your email address">
        <br>
        <input type="submit" value="send">
    </form>
    </div>
</div>


<app-main-footer></app-main-footer>