<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
</head>

<body class="body">

    <div class="navibar">
        <app-patient-home class="subnavibar"></app-patient-home>
    </div>
    <div class="bodyrest">

        <div style="align-self: flex-start;width: 82vw;">

            <app-pagemenu [parentData]="flag"></app-pagemenu>

            <div class="search">
                <div>
                    <div style="margin-left: 25%;">
                        <input type="text" [(ngModel)]="searchterm" (keydown)="search($event)" placeholder="&#xf002; Search From Doctor Name or Speciality" style="font-family: FontAwesome, Arial; font-style: normal;width: 500%; ;">
                    </div>

                </div>
            </div>
            <div class="data">

                <div class="datacard" *ngFor="let doca of docs">
                    <div class="pic">
                        <img src="{{doca.propic}}" alt="dasith" style="width: 100%;height: 100%;">
                    </div>
                    <div class="docname" *ngIf="doc?.length < 1">
                        <h1>Dr. {{doca.fullName}}</h1>
                        <h1>Speciality - {{doca.speciality}} </h1>
                        <h5 style="margin-left: -70%;">Consultations</h5>
                        <h5 style="margin-left: -70%;">Price</h5>
                    </div>
                    <div style="align-self: flex-end;display: flex;margin-left: 30vw;">
                        <button (click)="openOtherDialog(doca.nic)">dsads</button>
                        <ng-template #secondDialog>
                            <table>
                                <tr>
                                    <th>date</th>
                                    <th>time</th>
                                    <!-- <th>status</th> -->
                                </tr>
                                <tr *ngFor="let time of times">
                                    <td>{{time.date}}</td>
                                    <td>{{time.time}}</td>
                                </tr>
                            </table>

                            <mat-dialog-actions align="end">
                                <button mat-button matDialogClose>Dismiss</button>
                            </mat-dialog-actions>
                        </ng-template>
                    </div>


                </div>

                <div class="datacard" *ngFor="let doca of doc">
                    <div class="pic">
                        <img src="../../../assets/images/doca.jpg" alt="dasith" style="width: 100%;height: 100%;">
                    </div>
                    <div class="docname" *ngIf="docs?.length < 1">
                        <h1>Dr. {{doca.fullName}}</h1>
                        <h1> Speciality - {{doca.speciality}} </h1>
                        <h5 style="margin-left: -70%;">Consultations</h5>
                        <h5 style="margin-left: -70%;">Price</h5>
                    </div>
                    <div style="align-self: flex-end;display: flex;margin-left: 30vw;">
                        <button (click)="openOtherDialog(doca.nic)">dsads</button>
                        <ng-template #secondDialog>

                            <!-- <li>{{time.time}}</li> -->
                            <table>
                                <tr>
                                    <th>date</th>
                                    <th>time</th>
                                    <!-- <th>status</th> -->
                                </tr>
                                <tr *ngFor="let time of times">
                                    <td>{{time.date}}</td>
                                    <td>{{time.time}}</td>
                                </tr>
                            </table>


                            <mat-dialog-actions align="end">
                                <button mat-button matDialogClose>Dismiss</button>
                            </mat-dialog-actions>
                        </ng-template>
                    </div>
                </div>

            </div>
        </div>

    </div>
</body>