<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
</head>

<body class="body">
    <div style="display:none" id="submit-form-container"></div>
    <div class="navibar">
        <app-patient-home class="subnavibar"></app-patient-home>
    </div>
    <div class="bodyrest">

        <div style="align-self: flex-start;width: 82vw;" *ngIf="mark==1">

            <app-pagemenu [parentData]="flag"></app-pagemenu>

            <div class="search">
                <div>
                    <input id="txtBox" class="form-control" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}" (keyup)="searchByName()" placeholder="Search" type="text" style="right: 100px;">
                    <!-- <div style="margin-left: 25%;">
                        <input type="text" [(ngModel)]="searchterm" (keydown)="search($event)" placeholder="&#xf002; Search From Doctor Name or Speciality" style="font-family: FontAwesome, Arial; font-style: normal;width: 500%; ;">
                    </div> -->

                </div>
                <div class="col">
                    <label for="cars">Filter by Speciality:</label>

                    <select [(ngModel)]="selectedOption" name="cars" id="cars" (change)="filterSpeciality()">
                        <option value="All">All</option>
                        <option value="Pediatricians">Pediatricians</option>
                        <option value="Dermatologists">Dermatologists</option>
                        <option value="Nephrologists">Nephrologists</option>
                        <option value="Gastroenterologists">Gastroenterologists</option>
                        <option value="Allergists">Allergists</option>
                        <option value="Cardiologists">Cardiologists</option>
                        <option value="Otolaryngologists">Otolaryngologists</option>                        
                    </select>

                    <!-- <p>Selected option: {{ selectedOption }}</p> -->
                    <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Specialized in
                    </button>
                    <div class="dropdown-menu" aria-labelledby="Specialized_in">
                        
                        <div class="dropdown-item" (click)='filterBySpeciality("All")'> All </div>
                        <div class="dropdown-item" (click)='filterBySpeciality("General Physician")'>General Physician
                        </div>
                        <div class="dropdown-item" (click)='filterBySpeciality("Family practice physician")'>Family
                            practice physician" </div>
                        <div class="dropdown-item" (click)='filterBySpeciality("Pediatricians")'> Pediatricians </div>
                        <div class="dropdown-item" (click)='filterBySpeciality("Allergists")'>Allergists </div>
                        <div class="dropdown-item" (click)='filterBySpeciality("Dermatologists")'> Dermatologists </div>
                        <div class="dropdown-item" (click)='filterBySpeciality("Infectious disease doctors")'>
                            Infectious disease doctors </div>
                        <div class="dropdown-item" (click)='filterBySpeciality("Ophthalmologists")'> Ophthalmologists
                        </div>
                        <div class="dropdown-item" (click)='filterBySpeciality("Obstetrician/gynecologists")'>
                            Obstetrician/gynecologists </div>
                        <div class="dropdown-item" (click)='filterBySpeciality("Cardiologists")'> Cardiologists </div>
                        <div class="dropdown-item" (click)='filterBySpeciality("Endocrinologists")'> Endocrinologists
                        </div>
                        <div class="dropdown-item" (click)='filterBySpeciality("Gastroenterologists")'>
                            Gastroenterologists </div>
                        <div class="dropdown-item" (click)='filterBySpeciality("Nephrologists")'> Nephrologists </div>
                        <div class="dropdown-item" (click)='filterBySpeciality("Urologists")'> Urologists </div>
                        <div class="dropdown-item" (click)='filterBySpeciality("Pulmonologists")'> Pulmonologists </div>
                        <div class="dropdown-item" (click)='filterBySpeciality("Otolaryngologists")'> Otolaryngologists
                        </div>

                    </div> -->
                </div>
            </div>
            <div class="data">

                <!-- <div class="list-group">
                    <div class="list-item" *ngFor="let item of allDocData">
                        <div class="row">
                            <div class="col-2">

                            </div>
                            <div class="col-8">
                                <div class="row">
                                    <p>{{item?.fullName}}</p>
                                    <p>{{item?.speciality}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="datacard" *ngFor="let item of allDocData">
                    <div class="pic">
                        <img src="{{item?.propic}}" alt="dasith" style="width: 100%;height: 100%;">
                    </div>
                    <div class="docname" *ngIf="doc?.length < 1">
                        <h1>Dr. {{item?.fullName}}</h1>
                        <h1>{{item?.speciality}} </h1>
                        <h2>Consultations</h2>
                        <h2>Price</h2>
                    </div>
                    <div style="align-self: flex-end;display: flex;margin-left: 30vw;">
                        <button (click)="openOtherDialog(item?.nic)" class="VS">View Schedule</button>
                        <ng-template #secondDialog>
                            <h1 style="color: red;">Pick a free time slot for an appoinment</h1>

                            <table id="customers">
                                <tr>
                                    <th>date</th>
                                    <th>time</th>
                                    <th>status</th>
                                </tr>
                                <tr *ngFor="let time of times;let i = index">
                                    <td>{{time.date}}</td>
                                    <td>{{time.time}}</td>
                                    <td><button (click)="Onfree($event,time)" mat-button matDialogClose>{{time.status}}</button></td>
                                </tr>
                            </table>

                            <mat-dialog-actions align="end">
                                <button mat-button matDialogClose>Dismiss</button>
                            </mat-dialog-actions>
                        </ng-template>

                    </div>


                </div>

                <!-- <div class="datacard" *ngFor="let doca of doc">
                    <div class="pic">
                        <img src="../../../assets/images/doca.jpg" alt="dasith" style="width: 100%;height: 100%;">
                    </div>
                    <div class="docname" *ngIf="docs?.length < 1">
                        <h1>Dr. {{doca.fullName}}</h1>
                        <h1>{{doca.speciality}} </h1>
                        <h2>Consultations</h2>
                        <h2>Price</h2>
                    </div>
                    <div style="align-self: flex-end;display: flex;margin-left: 30vw;">
                        <button (click)="openOtherDialog(doca.nic)" class="VS">View Schedule</button>
                        <ng-template #secondDialog>
                            <h1 style="color: red;">Pick a free time slot for an appoinment</h1>
                            <li>{{time.time}}</li>

                            <table id="customers">
                                <tr>
                                    <th>date</th>
                                    <th>time</th>
                                    <th>status</th>
                                </tr>
                                <tr *ngFor="let time of times;let i = index">
                                    <td>{{time.date}}</td>
                                    <td>{{time.time}}</td>
                                    <td><button (click)="Onfree($event,time)" mat-button
                                            matDialogClose>{{time.status}}</button></td>
                                </tr>
                            </table>


                            <mat-dialog-actions align="end">
                                <button mat-button matDialogClose>Dismiss</button>
                            </mat-dialog-actions>
                        </ng-template>

                    </div>
                </div> -->

            </div>
        </div>
        <div style="align-self: flex-start;width: 82vw;" *ngIf="mark==2">

            <app-pagemenu [parentData]="flag"></app-pagemenu>

            <table id="customers">
                <tr>
                    <th>date</th>
                    <th>time</th>
                    <th>status</th>
                </tr>
                <tr *ngFor="let time of times;let i = index">
                    <td>{{time.date}}</td>
                    <td>{{time.time}}</td>
                    <td>{{time.status}}</td>
                    <button (click)="doPayment();Onpay($event,time)" style="background-color: darkblue;">pay
                        here</button>
                    <button (click)="Oncancel($event,time)" style="background-color: darkblue;">cancel</button>
                </tr>
            </table>

        </div>
        <div style="align-self: flex-start;width: 82vw;" *ngIf="mark==3">

            <app-pagemenu [parentData]="flag"></app-pagemenu>



        </div>
    </div>
</body>