<div *ngIf='yes.operations==="yes"'>
    <ul>
        <table id="customers">
            <tr>
                <th>Surgery </th>
                <th>Date </th>

            </tr>
            <tr *ngFor="let alleg of opos" class="collection">
                <td>{{alleg.name}}</td>
                <td>{{alleg.date}}</td>

            </tr>
        </table>
    </ul>
</div>

<div *ngIf="yes.operations==='No'">
    <hr>
    <h5 class="null">There are no records</h5>
</div>
<div *ngIf="yes.operations===''">
    <hr>
    <h5 class="null">There are no records</h5>
</div>