<app-main-navigation-bar></app-main-navigation-bar>

<div class="login_container">
    <img src="assets/images/login_image.jpg" alt="" height="500" width="800" class="login_image" >
    <div class="form_container">
        <form action="">
            <h1>login</h1>
            <label for="email"> <b>Email</b> </label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <label for="password"> <b>password</b></label>
            <input type="password" placeholder="Enter password" name="password" required >
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>

            <button type="submit" class="btn">login</button>
        </form>
        <span class="psw">Forgot <a href="#">password? </a></span>
        <h2>new to medicare?</h2>
        <button class="btn2"  > <a href="" routerLink="/joinnow" routerLinkActive="active"> join now</a></button>

    </div>
</div >


<div class="container_2" >
    <h1>Quality care. Quality doctors.</h1><br><br>
  <div  style="float: left; width: 33.33%;" >
    <ul>
        <h2>Experience</h2><br>
        <img src="assets/images/doctor1.jpg" alt="" height="200" width="200" class="container2image">
        <p>Experience is important to us. Our providers have an average of 15 years of experience.</p>
    </ul>
   </div>
   <div  style="float: left; width: 33.33%;" >
    <ul>
        <h2>srilanka gov Certified</h2><br>
        <img src="assets/images/female.jpg" alt=""  height="200" width="200" class="container2image">
        <p>Our providers are US Board Certified, credentialed using NCQA and URAC guidelines and licensed to practice in your state.</p>
    </ul>
   </div>
   <div  style="float:right; width: 33.33%;" >

    <ul>
        <h2>Security</h2> <br>
        <img src="assets/images/officelady.jpg" alt=""  height="200" width="300" class="container2image">
        <p>All encounters are digitally archived with the highest level of security and only accessible by the patient and practitioner.</p>
    </ul>
   </div>
   

</div>

<button class="button_join"> <a href="" routerLink="/joinnow" routerLinkActive="active"> <h2>join now</h2> </a></button>

<div class="container_3">
    <div class="container_3_sub">
        <br><br>
        <h3>Millions of people have changed their lives by using Telehealth services. <br>
            With MDLIVE, you can access virtual care that’s always there. <br>
            Sign up today or log in to your account to speak to 
        <br> a doctor, counselor, psychiatrist or dermatologist by secure video or phone 24/7.</h3> 
    </div>
</div>



<app-main-footer></app-main-footer>