
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

section {
  display: table;
  margin: 8px;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  width: 120px;
}

.example-button-row {
  display: table-cell;
}

.example-button-row button {
  display: table-cell;
  margin-right: 8px;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  width: 480px;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

#upload {
  margin-top: 10px;
  margin-left: 12px;
}
