
<div id="img"> 
     
    <div id="sidebar">
 
    <div>
        <ul>
            
            <li><a routerLink="../manage-doctor">Manage Doctors</a></li>
            <li><a routerLink="../manage-patient">Manage Patients</a></li> 
            <li>Notifications</li>
            <li><a href="" routerLink="../adminfeedbacks" routerLinkActive="active">Feedbacks</a></li>
            <li>Payment details</li>
            <li><a routerLink="../admin-announcement">Announcements</a></li>
        </ul>
    </div>
    </div>

    <div  class="row justify-content-center p-2">
        <h1>Announcements</h1>
    </div>

</div> 
