<mat-toolbar color="primary">
    <mat-toolbar-row>
      <a href=""><span>eCare</span></a>
    </mat-toolbar-row> 
</mat-toolbar>

<div id="img"> 
     
    <div id="sidebar">
        <ul>
            <li>
                <a routerLink="../manage-doctor"><i class="material-icons">people_outline</i>Manage Doctors</a>
            </li>
            <li>
                <a routerLink="../manage-patient"><i class="material-icons">person_pin</i>Manage Patients</a>
            </li> 
            <li>
                <a href=""><i class="material-icons">comment</i>Notifications</a>
            </li>
            <li>
                <a href="" routerLink="../adminfeedbacks" routerLinkActive="active"><i class="material-icons">feedback</i>Feedbacks</a>
            </li>
            <li>
                <a href=""><i class="material-icons">payment</i>Payment details</a>
            </li>
            <li>
                <a routerLink="../admin-announcement"><i class="material-icons">announcement</i>Announcements</a>
            </li>
        </ul>
    </div>

    <div  class="row justify-content-center p-2">
        <h1>Announcements</h1>
    </div>

</div> 
