<mat-toolbar color="primary">
    <mat-toolbar-row>
      <a href=""><span>eCare</span></a>
    </mat-toolbar-row> 
</mat-toolbar>

<div id="img"> 
     
    <div id="sidebar">
        <ul>
            <li><a routerLink="../manage-doctor"><i class="material-icons">people_outline</i>Manage Doctors</a></li>
            <li><a routerLink="../manage-patient"><i class="material-icons">person_pin</i>Manage Patients</a></li> 
            <!-- <li><a href=""><i class="material-icons">comment</i>Notifications</a></li> -->
            <li><a href="" routerLink="../adminfeedbacks" routerLinkActive="active"><i class="material-icons">comment</i>Feedbacks</a></li>
            <li><a href=""><i class="material-icons">payment</i>Payment details</a></li>
            <li><a routerLink="../admin-announcement"><i class="material-icons">announcement</i>Announcements</a></li>
        </ul>
    </div>

    <div  class="row justify-content-center p-2">
        
      <div class="form_container">
        <div class="container_a container w-50 p-3 ">
            <h1>Announcements</h1>
            <form #announcementform="ngForm" (ngSubmit)="onsubmit(announcementform)">
                <div class="form-group row">
                  <label for="subject" class="col-sm-3 col-form-label">subject</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="subject" placeholder="subject" name="subject" #name="ngModel" ngModel >
                  </div>
                </div>
                <div class="form-group row">
                    <label for="audience"class="col-sm-3 col-form-label"> Select Audience</label>
                    <div class="col-sm-6">
                        <select class="form-control" id="audience" ngModel #audience="ngModel" name="audience">
                            <option value="customers">customers</option>
                            <option value="doctors">Doctors</option>
                            <option value="All">All</option>
                        </select>
                    </div>
                  </div>
                <div class="form-group row">
                    <label for="message"class="col-sm-3 col-form-label" >Message</label>
                    <div class="col-sm-6 w-50">
                    <textarea class="form-control" id="message"  #message="ngModel" rows="4" name="message"ngModel></textarea>
                    </div>
                  </div>
                <div class="form-group row">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Send</button>
                  </div>
                </div>
              </form>
        </div>
      </div>
       
          <div class="announcement_con2 "*ngFor ="let am of announcements; let i = index">
            <br>
            <div class="audience">Audience : {{am.audience}}</div>
            <div class="subject" > Subject :{{am.subjcect}}</div>
            <div class="message">Message: {{am.message}}</div>
          </div>
        
      
        </div>
</div> 

