
.contactusimage {
    display: block;
    
    color: rgb(211, 17, 17);
    height: 450px;
    width: 100%;

}


.contactus_container_1{
    display: inline-block;
    height: 600px;
    width: 65%;
    margin-left: 20px;
    
    background-color:#f2f2f2;
   

}

.contactus_container_1 h1{
  color: blue ;
}

.contactus_container_2{
    display: inline-block;
    height: 600px;
    width: 30%;
    float: right;
    margin-right: 20px;
    
    background-color: #f2f2f2;
}

.contactus_container_2 p{
    margin-left: 15px;
}

.contactus_container_2 h2{
  color: blue;
}


* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    
  }
  
.invalid input:invalid{
    border-color: red;
  }


  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-right: 10%;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container_form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 16%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }

    .contactus_container_2{
      float: left;
    }
  }