<app-main-navigation-bar></app-main-navigation-bar>
<div class="contactusimage" >
    <img src="assets/images/contactuspic.jpg" alt="" height="450" width="100%" class="c_image">
</div>
<div ><h1 style="color: blue;">{{succornot}}</h1>
</div>


<div class="contactus_container_1">
    <h1>Send us a message </h1>
    <div class="container_form">
        <form action=""  #contactusform="ngForm"  (ngSubmit)="onsubmit(contactusform)">
        <div class="row">
          <div class="col-25">
            <label for="fname">First Name</label>
          </div>
          <div class="col-75">
            <input type="text" id="fname" name="firstname" placeholder="Your name.." required #firstname="ngModel"  ngModel>
            <div *ngIf="firstname.invalid && firstname.touched"><small style="color: red;">*required</small></div>
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="lname" >Last Name</label>
          </div>
          <div class="col-75">
            <input type="text" id="lname" name="secondname" placeholder="Your last name.."   #secondname="ngModel"  required ngModel>
            <div *ngIf= "secondname.invalid && secondname.touched"><small style="color: red;"> *required</small></div>

          </div>
        </div>
        <div class="row">
            <div class="col-25">
              <label for="email"  >Email</label>
            </div>
            <div class="col-75">
              <input type="text" id="email" name="email" placeholder="Yor Email .."  #email="ngModel" required ngModel>
              <div *ngIf="email.invalid && email.touched"><small style="color: red;">*required or wrong email pattern</small></div>
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="phoneno">Phone no</label>
            </div>
            <div class="col-75">
              <input type="text" id="phoneno" name="phoneno" placeholder="Your phone no .." #phoneno="ngModel" required ngModel>
              <div *ngIf="phoneno.invalid && phoneno.touched"><small style="color: red;">*required and correct pattern needed</small></div>
            </div>
          </div>
        <div class="row">
          <div class="col-25">
            <label for="subject">your query</label>
          </div>
          <div class="col-75">
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px" #subject="ngModel" required  ngModel></textarea>
            <div *ngIf ="subject.invalid && subject.touched"><small style="color: red;"> *required</small></div>
          </div>
        </div>
        <div class="row">
          <input type="submit" value="Submit" [disabled]="contactusform.form.invalid"  >
          <div *ngIf="contactusform.form.invalid && contactusform.form.touched" style="text-align: right; margin-right: 20%;">
            <small style="color: red; ;">---------Their is error feild------------ </small>
          </div>
        </div>
        </form>
      </div>


</div>
<div class="contactus_container_2">
    <br>
    <h2>Customer service</h2>
    <p>0115624750</p>

    <br>
    <h2>Our postal address</h2>
    <p>45 6th lane maharagam mathara</p>

    <br>
    <h2> To become a provider</h2>
    <p>0115878902</p>

    <h2>Email us</h2>
    <p>ghdaskahasa@gmail.com</p>
</div>


<app-main-footer></app-main-footer>
