
.whatwetreatimage1{
    
    width: 100%;
     background-size: 100% 100% ;
}


.whatwetreatconatainer1{
    display: block; 
    height: 500px;
}

.whatwetreatheading {
    color: blue;
    text-align: center;
    margin-top:5%;
    margin-bottom: 5%;

}

.whatwetreatheading h1{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 45px;
}

.medical_part_container{
    display: block;
    width: 30%;
    float: left;
    margin-left: 5%;
    height: 400px;
    background-color:rgb(224, 221, 216) ;
    
}

.behavior_part_container{
    
    width: 30%;
    float: left;
    margin-left: 1%;
    height: 400px;
    background-color:rgb(224, 221, 216) ;

}
.Dermatology_part_container{
   
    width: 30%;
    float:left;
    margin-left:1%;
    height: 400px;
    background-color:rgb(224, 221, 216) ;
}

.headers2{
    text-align: center;
    color: blue;
}

.button{
    text-decoration: none;
    text-align: center;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 12px;
   background-color: blue;
}
.button a{
    color: white;
    text-decoration: none;
    font: 16px;
    
}

.button2{
    text-align: center;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 12px;
   background-color: blue;
   margin-left: 40%;
   margin-bottom: 40px;

}
.button2 a{
    color: white;
    text-decoration: none;
    font: 16px;
    
}
