
<app-main-navigation-bar></app-main-navigation-bar>

    <div class="whatwetreatimage1" style="background-image: url('assets/images/whatwetreat1.jpg'); "></div>
    <div class="whatwetreatheading">

        <h1>
            We treat over 50 non-emergency conditions.
        </h1>
        
    </div>
    <div class="whatwetreatconatainer1" >
    <div class="medical_part_container">
        
        <div class="headers2"><h2>Medical</h2></div>

        <ul>
            <li>Common cold</li>
            
            <li>Allergies</li>
            <li>Constipation</li>
            <li>Cough</li>
            <li>Ear Problems</li>
            <li>Fever</li>
            <li>Headache</li>
            <li> Insect Bites</li>
            <li>Nausea</li>
            <li>Vomiting</li>
            <li>Pink Eye</li>
            
            <li>Respiratory </li>
            <li>and more.....</li>
            <br>
            <button class="button"><a href="/joinnow">see a doctor</a></button>


        </ul>

    </div>

    <div class="behavior_part_container">
        <div class="headers2">
            <h2>Beharvioral Health</h2>
        </div>
        <ul>
            <li>Anxiety</li>
            <li>Depression</li>
            <li>Bipolar </li>
            <li>Stress Management</li>
            <li>Grief and Loss</li>
            <li>LGBTQ support</li>
            <li>Trauma & PTSD</li>
            <li>Relationship issues</li>
            <li>Panic disorders</li>
            <li>Addictions</li>
            <li>And more…</li>
            <br>
            <button class="button"><a href="/joinnow">Visit Shedule</a></button>

      
        </ul>
    </div>

    <div class="Dermatology_part_container">
        <div class="headers2">
            <h2>Dermatology</h2>
        </div>
        <ul>
            <li>Acne</li>
            <li>Rash</li>
            <li> Spots</li>
            <li>Warts</li>
            <li>Eczema</li>
            <li>Rosacea</li>
            <li>Psoriasis</li>
            <li>Hair follicles</li>
            <li>Insect bites</li>
            <li>Alopecia</li>
            <li>Cold sores </li>
            <li>Skin cuts</li>
            <li>And many more...</li>
            <br>
            <button class="button"><a href="/joinnow">Visit a Dormatologist</a></button>
            

        </ul>
    </div>
</div>
<br>
    <div class="vedio"  style="margin-left: 15% ; height: 500px;">
        <iframe width="800" height="450" src="https://www.youtube.com/embed/WMi5O1tjtwI" frameborder="0" 
         allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
    
        <button class="button2"><a href="/joinnow">Get started</a></button>

  

    <app-main-footer></app-main-footer>
