<div class="sidebar">
    <button mat-raised-button color="warn" id="leaveButton" (click)="leave()">Leave</button>
    <button mat-raised-button color="primary" id="presButton" (click)="callAPI()">Create Prescription</button>
</div>

<!-- <div class="row">
    <button mat-button (click)="callAPI()" style="position: absolute; right: 10px;">Open dialog</button>
</div> -->

<div [id]="localCallId" class="local"></div>

<div *ngFor="let callId of remoteCalls" [id]="callId" class="remote"></div>


<ng-template #callAPIDialog>

    <div class="modal-body">
        <app-prescriptionform [channelid]=" channelID"></app-prescriptionform>
    </div>

</ng-template>