<app-main-navigation-bar></app-main-navigation-bar>

<div class="ourproviders_con1" style="background-image: url('assets/images/ourproviders1.jpg');">
    <br>
    <br>
    <h1>Our providers</h1>
    <br>
</div>
<div class="container_2" >
    <br>
    <h1>Quality care. Quality doctors.</h1><br>
  <div  style="float: left; width: 33.33%;" >
    <ul>
        <h2>Experience</h2><br>
        <img src="assets/images/doctor1.jpg" alt="" height="200" width="200" class="container2image">
        <p>Experience is important to us. Our providers have an average of 15 years of experience.</p>
    </ul>
   </div>
   <div  style="float: left; width: 33.33%;" >
    <ul>
        <h2>srilanka gov Certified</h2><br>
        <img src="assets/images/female.jpg" alt=""  height="200" width="200" class="container2image">
        <p>Our providers are US Board Certified, credentialed using NCQA and URAC guidelines and licensed to practice in your state.</p>
    </ul>
   </div>
   <div  style="float:right; width: 33.33%;" >

    <ul>
        <h2>Security</h2> <br>
        <img src="assets/images/officelady.jpg" alt=""  height="200" width="300" class="container2image">
        <p>All encounters are digitally archived with the highest level of security and only accessible by the patient and practitioner.</p>
    </ul>
   </div>
   

</div>

<div class="ourproviders_container3">

    <div class="con3_sub1">
        <div class="con3_sub1_con1">
            <img src="assets/images/gmao.jpg" alt="gmao" height=100% width=100%>
        </div>
        <div class="con3_sub1_con2">
           <h2>Goverment Medical Association </h2>
           <p>we are working of goverment Certified doctors</p>
        </div>
        
    </div>

    <div class="con3_sub2">
        <div class="con3_sub2_con1">
            <img src="assets/images/slma.jpg" alt="slma" height=100% width=100%>
        </div>
        <div class="con3_sub2_con2">
            <h2>Srilanka Medical Association</h2>
            <p>we have permission form SLMA. All  our providrs form SLMA doctors.</p>
        </div>
    </div>

</div>
<app-main-footer></app-main-footer>
