.ourproviders_con1{
    height: 380px;
    background-size: 100% 500px;
}
.ourproviders_con1 h1{
    font-size: 50px;
    color: blue;
    margin-top: 0px;
    margin-left: 100px;
    top: 700;
}

.container_2{
    height: 600px;
    
}
.container_2 h1,h2,p {
    text-align: center;
   

}
.container_2 h1{
    color: orange;
}
.container_2 h2{
    color: blue;
}
.container_2 p{
   
}
.container_2 li{
    list-style-type: none;
}
.container2image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    
}
.ourproviders_container3{
    height: 300px;
    background-color: rgb(248, 244, 244)
}

.con3_sub1{
    margin-top: 3%;
    width: 40%;
    float: left;
    height:220px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
}

.con3_sub1_con1{
    width: 40%;
    float: left;
    height: 220px;
    background-color: white;
}
.con3_sub1_con2 h2{
    color: blue;
}

.con3_sub1_con2{
    
    float: left;
    width: 60%;
    height: 220px;
    font-size: 15px;
}
.con3_sub2{
    margin-top: 3%;
    width: 45%;
    float: right;
    height:220px;
    
    background-color:  white;
    margin-right: 5%;
}

.con3_sub2_con1{
    width: 45%;
    float: left;;
    height: 220px;
    background-color: white;
}
.con3_sub2_con2 h2{
    color: blue;
}

.con3_sub2_con2 {
    float: right;
    width: 55%;
    height: 250px;
}