<!-- <p>admin-graph works!</p> -->
<!-- <div class="col-md-3"  *ngFor="let item of doctor">
	<div class="card-title">
		Count of doctors: {{item.count}}
	</div>
</div> -->
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <a href="" class="toolbar-space"><span>eCare</span></a>
      <a routerLink="../admin" class="toolbar-space"><span>Home</span></a>
    </mat-toolbar-row> 
</mat-toolbar>

<div class="wrapper">
	<h2>Doctors count <span class="badge badge-secondary">{{count}}</span></h2>
	<h2>Patient count <span class="badge badge-secondary">{{Patientcount}}</span></h2>
	<h2>All User count <span class="badge badge-secondary">{{Usercount}}</span></h2>
</div>
