<div class="reg_container" style="background-image: url(assets/images/signupimage.jpg);">
    <!-- some fucking errors coming when background image attribute declare in css file i dont kow why -->
    <div class="navigation_bar">  
      <ul>

        <li><a href="">MDCARE</a></li>
  
        <div class="navigation_bar-right">
          <li><a routerLink="/login" routerLinkActive="active">login</a></li>
          
        </div>
      </ul>
    </div>
    
        
        <div class="formcontainer">
            <h2>Join with us</h2>
              <form action="">
                <div class="">
                  <div >
                      <label for="firstname" >Firstname :   </label>
                      <input type="text" placeholder="first name" name ="firstname"style="margin-left: 42px;" >

                      <div >
                        <label for="secondname">Secondname : </label>
                      <input type="text" placeholder="second name" name="secondname" style="margin-left: 20px;">
                      
                      </div>
                  </div>
                  
                  <div class="">
                      <label for="email" >Email :</label>
                      <input type="text" placeholder="email" name="email" style="margin-left: 80px;" >
                  </div>
                  <div class="">
                      <label for="password">Password : </label>
                      <input type="password" placeholder="password" name="password" style="margin-left: 45px;">
                  </div>
                  <div class="">
                      <label for="dateofbirth">Date of birth : </label>
                      <input type="date" placeholder="mm/dd/yyyy" name="dateofbirth" style="margin-left: 22px;">
                  </div>
                  <div class="">
                      <label for="phoneno">Phone number : </label>
                      <input type="number" name="phoneno" placeholder="phoneno" id="" style="margin-left: 5px;">

                  </div>
                  
                  <div class="">
                      <label for="gender">Gender :  </label>
                      <input type="text" name="gender" placeholder="gender" id="">
                  </div>
                  <input type="submit" name="submit" value="submit" id="" style="margin-left: 200px;">
                  
                  </div>
              </form>
    </div>

      

</div>

<div class="grid_id_1">
    <h2 class="topic" >What you get with Medicare</h2>
    <div class="grid_container">
          
      <div class="grid">
        <img src="assets/images/1.jpg" alt="" height="100" width="150">
        <br>
        <p>Visit a doctor, counselor, psychiatrist or dermatologist by mobile app, video or phone.</p>
       </div>
      <div class="grid">
        <img src="assets/images/2.jpg" alt="" height="100" width="150">
        <p>Visits are convenient, private and secure. Protection of your personal information is our priority. </p>
      </div>
      <div class="grid">
        <img src="assets/images/3.jpg" alt=""height="100" width="150">
        <br>
        <p>Avoid the inconvenience and high costs of going to the emergency room or urgent care center.</p>
      </div>
      <div class="grid">
        <img src="assets/images/4.jpg" alt=""height="100" width="150">
        <br>
        <p>  Prescriptions can be sent directly to your local pharmacy if medically necessary.</p>
      </div>
    </div>
    </div>

    <div class="urgent_care_image">
        <img src="assets/images/littelegirl.jpg" alt="aneh mand" height="600" width="1160">
        <div class="text_block">
          <div style="height: 60px; width: 350px;background-color: black;color: cornsilk; margin-top: 0px;"><h2>Urgent Care Visits</h2></div>
          <h1> $85</h1>
          <p>   or less depending on your insurance plan coverage terms.</p>
          <h2> MDLIVE treats over 50 routine medical conditions:</h2>
          kfsakldf
          <br>
          jklfsakl
          <br>
          kljlfsad
          <br>
        </div>
      </div>
      <div class="services">
        <div class="row">
          <div class="column">
            <h2>Column 1</h2>
            <p>Some text..</p>
            <button>get started</button>
          </div>
          <div class="column">
            <h2>Column 2</h2>
            <p>Some text..</p>
            <button>get started</button>
          </div>
          <div class="column" >
            <h2>Column 3</h2>
            <p>Some text.dsfdfffasfadsf <br>
            <button>get started</button>
          <br>
        </p>
          </div>
        </div>
    </div>

    <div class="registerfooter">
      <h2>MDLIVE</h2>
      <P> <small>download_app_android
        MDLIVE
        Facebook Twitter LinkedIn YouTube Google+ Instagram
        Copyright © 2020 MDLIVE Inc. All Rights Reserved. Copyright © 2020 MDLIVE Medical Group, PA. All Rights Reserved.
        MDLIVE Medical Group, PA provides the clinical services for MDLIVE. MDLIVE Medical Group, PA is an independent entity. For more information, please click here.
        ® MDLIVE is a registered trademark of MDLIVE Inc., All Rights Reserved. </small> </P>

    </div>